<div class="q-pa-md full-width" style="height: 400px;">
    <div class="text-h4 text-center"> [[*pagetitle]] </div>
    <div class="col-12">
        <q-tabs v-model="tab" align="left" no-caps outside-arrows mobile-arrows class="">
            <q-tab name="acls" label="Berechtigungen" />
            <q-tab name="table_prefills" label="Initiale Tabellendaten" />
            <q-tab name="resources" label="Seiten" />
            <q-tab name="special" label="Spezialfunktionen" />
        </q-tabs>
    </div>
    <q-tab-panels v-model="tab">
        <q-tab-panel name="acls">
            <q-btn @click="setupAcls">
                Berechtigungen einrichten
            </q-btn>
        </q-tab-panel>
        <q-tab-panel name="table_prefills">
            <q-btn @click="prefill('mvMemberState')">
                Import MemberState
            </q-btn>
        </q-tab-panel>        
        <q-tab-panel name="resources">
            <q-btn @click="setupResources">
                Seiten einrichten
            </q-btn>
        </q-tab-panel>
        <q-tab-panel name="special">
            Bei älteren Versionen wurden Fahrten als abgeschlossen erkannt, sobald km eingetragen waren.<br>
            Bei neueren Versionen muß das explizit eingetragen sein.<br>
            Diese Funktion setzt alle Fahrten mit eingetragenen km auf abgechlossen!<br>
            Bei neueren Versionen, wo dies bereits durchgeführt wurde, bitte nicht mehr ausführen,<br>
            sonst werden alle offenen Fahrten, wo bereits km eingetragen wurden, auf abgeschlossen gesetzt.<br>
            <q-btn @click="fixFinishedEntries">
                Auf abgeschlossen setzen
            </q-btn>
            <br><br>
            In älteren Versionen wurde bei den km - Auswertungen immer der aktuelle Mitgliederstatus herangezogen.<br>
            Dies führt dazu, daß durch Änderung des Mitgliederstatus alte Fahrten nicht richtig zugeordnet wurden, <br>
            zb. Änderung von Mitglied zu Ausgetreten,<br>
            In neueren Versionen wird der jeweils aktuelle Mitgliederstatus in die Fahrten direkt eingetragen<br>
            Um dies auch für alte, vorhandene Fahrten durchzuführen, führe nachfolgende Funktion aus.<br> 
            Für Mitglieder wird dazu das Eintrittsdatum bzw. Austrittsdatum mit dem (Ende) Datum der Fahrt verglichen<br>
            Ansonsten wird Gast als Status eingetragen.<br>
            <q-btn @click="addStatusToEntries">
                Mitgliederstatus in alle Fahrten eintragen
            </q-btn>            
        </q-tab-panel> 


    </q-tab-panels>

</div>