

RewriteEngine On
RewriteBase /

# Store the current location in an environment variable CWD
RewriteCond $0§%{REQUEST_URI} ([^§]*)§(.*)\1$
RewriteRule ^.*$ - [E=CWD:%2]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-s
RewriteRule ^(.*)$ %{ENV:CWD}index.php?_rest=$1&test=%{ENV:CWD} [QSA,NC,L]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*)$ %{ENV:CWD}index.php [QSA,NC,L]