<div class="q-pa-sm" v-if="mailinglists.length==0">
    Diesem Termin ist keine Einladungsliste zugeordnet.
</div>

<div v-for="mailinglist in mailinglists">

    <div class="q-pa-sm">
        <div class="q-gutter-sm">
            <q-card bordered class="my-card bg-grey-1">
                <q-card-section>
                    <div class="row items-center no-wrap">
                        <div class="col">
                            <div class="text-h6">{{ mailinglist.name }}</div>
                            <div class="text-subtitle2"></div>
                        </div>


                    </div>
                </q-card-section>

                <q-card-section>
                    <template v-if="mailinglist.Names_subscribed">
                        <q-checkbox disable v-model="mailinglist.Names_active" size="xl"></q-checkbox>
                        <p>Du hast Dich in diese Liste eingetragen</p>
                    </template>
                    <template v-else-if="mailinglist.Names_unsubscribed">
                        <q-checkbox disable v-model="mailinglist.Names_subscribed" size="xl" /></q-checkbox>
                        <p>Du hast Dich aus dieser Liste ausgetragen</p>
                    </template>
                    <template v-else-if="mailinglist.Names_active">
                        <q-checkbox disable v-model="mailinglist.Names_active" size="xl" /></q-checkbox>
                        <p>Du wurdest in diese Liste vom Verein eingetragen, wahrscheinlich weil Du bereits an ähnlichen
                            Terminen teilgenommen hast.<br>
                            Bitte bestätige den Eintrag nochmal selbst!</p>
                    </template>
                    <template v-else>
                        <q-checkbox disable v-model="mailinglist.Names_active" size="xl" /></q-checkbox>
                        <p>Du bist nicht in diese Liste eingetragen</p>
                    </template>
                </q-card-section>

                <q-separator></q-separator>

                <q-card-actions>
                    <template v-if="mailinglist.Names_subscribed">
                        <q-btn class="bg-negative text-white" label="Austragen"
                            v-on:click="subscribe(mailinglist,'unsubscribe')"></q-btn>
                    </template>
                    <template v-else-if="mailinglist.Names_unsubscribed">
                        <q-btn v-if="useHasPermission('fbuch_mailinglist_subscribe')" class="bg-positive text-white" label="Eintragen"
                            v-on:click="subscribe(mailinglist,'subscribe')"></q-btn>
                    </template>
                    <template v-else-if="mailinglist.Names_active">
                        <q-btn v-if="useHasPermission('fbuch_mailinglist_subscribe')" class="bg-positive text-white" label="Eintrag bestätigen"
                            v-on:click="subscribe(mailinglist,'subscribe')"></q-btn>
                        <q-btn class="bg-negative text-white" label="Austragen"
                            v-on:click="subscribe(mailinglist,'unsubscribe')"></q-btn>
                    </template>
                    <template v-else>
                        <q-btn v-if="useHasPermission('fbuch_mailinglist_subscribe')" class="bg-positive text-white" label="Eintragen"
                            v-on:click="subscribe(mailinglist,'subscribe')"></q-btn>
                    </template>
                </q-card-actions>
            </q-card>
        </div>
    </div>
</div>

<div v-if="useHasPermission('fbuch_mailinglist_subscribe')" class="q-pa-sm" >
    <q-btn class="bg-primary text-white" label="In weitere Listen ein/austragen" href="termine/meine-einladungslisten-eintraege.html"></q-btn>
</div>