<div class="q-pt-md q-col-gutter-md q-mb-sm row">

    <div class="col-lg-4 col-md-6 col-xs-12">

        <q-card flat bordered class="q-mb-md">
            <q-card-section class="bg-primary text-white">
                <div class="row items-center no-wrap">
                    <div class="col">
                        <div class="text-h6">Einladungen</div>
                    </div>
                    <div class="col-auto" v-if="useHasPermission('fbuch_edit_termin')">
                        <q-btn color="white" text-color="black" round icon="navigate_next">
                            <q-menu v-model="state.invite_menu" anchor="bottom right" self="top right" :offset="[0, 5]">
                                <q-list dense bordered separator>
                                    <q-item @click="state.sendmail_dialog=true;mailvalues.to='all';state.invitename='Alle Personen';" clickable v-ripple>
                                        <q-item-section avatar><q-avatar icon="email" /></q-item-section>
                                        <q-item-section>
                                            <q-item-label>Einladungen senden</q-item-label>
                                            <q-item-label caption>Alle Personen einladen</q-item-label>
                                        </q-item-section>
                                    </q-item>                                       
                                    <q-item @click="state.addpersons_dialog=true" clickable v-ripple>
                                        <q-item-section avatar><q-avatar icon="group_add" /></q-item-section>
                                        <q-item-section>
                                            <q-item-label>Personen hinzufügen</q-item-label>
                                            <q-item-label caption>Weitere Personen zu diesem Termin einladen</q-item-label>
                                        </q-item-section>
                                    </q-item>

                                </q-list>
                            </q-menu>
                        </q-btn>
                    </div>
                </div>                
              </q-card-section>                                
                <q-list bordered separator>
                    <template v-if="invites && invites.length == 0">
                        <q-item>
                            <q-item-section>
                                Keine Einladungen
                            </q-item-section>
                        </q-item>
                    </template>
                    <template v-for="(name,index) in invites">
                        <q-item :class="name.bgcolor">
                            <q-item-section  v-if="name.Member_member_status == 'Mitglied'">
                                {{name.Member_firstname}} {{name.Member_name}}
                            </q-item-section>
                            <q-item-section v-if="name.Member_member_status != 'Mitglied'">
                                {{name.Member_firstname}} {{name.Member_name}}
                                <br>({{name.Member_member_status}})
                            </q-item-section>
                            <q-item-section v-if="useHasPermission('fbuch_edit_termin')" side top class="q-pa-none" style="padding-left:0;">
                                <q-btn color="primary" text-color="white" round icon="navigate_next">
                                    <q-menu auto-close anchor="bottom right" self="top right" :offset="[0, 5]">
                                        <q-list dense bordered separator>
                                            <q-item @click="state.sendmail_dialog=true;mailvalues.to=name.member_id;state.invitename=name.Member_firstname+' '+name.Member_name;" clickable v-ripple>
                                                <q-item-section avatar>
                                                    <q-avatar icon="email" />
                                                </q-item-section>
                                                <q-item-section>
                                                    <q-item-label>Person einladen</q-item-label>
                                                 </q-item-section>
                                            </q-item>
                                            <q-item @click="removePerson(name)" clickable v-ripple>
                                                <q-item-section avatar><q-avatar text-color="red"
                                                        icon="person_remove" /></q-item-section>
                                                <q-item-section>Person entfernen</q-item-section>
                                            </q-item>
                                        </q-list>
                                    </q-menu>
                                </q-btn>
                            </q-item-section>        
                        </q-item>
                    </template>
                    <template v-if="addedinvites && addedinvites.length > 0">
                        <q-item>
                            <q-item-section>
                                <div class="text-h6">Hinzugefügte Personen:</div>
                            </q-item-section>
                        </q-item>
                    </template>                    
                    <template v-for="(name,index) in addedinvites">
                        <q-item :class="name.bgcolor">
                            <q-item-section  v-if="name.Member_member_status == 'Mitglied'">
                                {{name.Member_firstname}} {{name.Member_name}}
                            </q-item-section>
                            <q-item-section v-if="name.Member_member_status != 'Mitglied'">
                                {{name.Member_firstname}} {{name.Member_name}}
                                <br>({{name.Member_member_status}})
                            </q-item-section>
                            <q-item-section v-if="useHasPermission('fbuch_edit_termin')" side top class="q-pa-none" style="padding-left:0;">
                                <q-btn color="primary" text-color="white" round icon="navigate_next">
                                    <q-menu auto-close anchor="bottom right" self="top right" :offset="[0, 5]">
                                        <q-list dense bordered separator>
                                            <q-item @click="state.sendmail_dialog=true;mailvalues.to=name.member_id;state.invitename=name.Member_firstname+' '+name.Member_name;" clickable v-ripple>
                                                <q-item-section avatar>
                                                    <q-avatar icon="email" />
                                                </q-item-section>
                                                <q-item-section>
                                                    <q-item-label>Person einladen</q-item-label>
                                                 </q-item-section>
                                            </q-item>
                                            <q-item @click="removePerson(name)" clickable v-ripple>
                                                <q-item-section avatar><q-avatar text-color="red"
                                                        icon="person_remove" /></q-item-section>
                                                <q-item-section>Person entfernen</q-item-section>
                                            </q-item>
                                        </q-list>
                                    </q-menu>
                                </q-btn>
                            </q-item-section>             
                        </q-item>
                    </template> 
                    <template v-if="useHasPermission('fbuch_edit_termin')" >
                        <template v-if="removedinvites && removedinvites.length > 0">
                            <q-item>
                                <q-item-section>
                                    <div class="text-h6">Entfernte Personen:</div>
                                </q-item-section>
                            </q-item>
                        </template>   
                        <template v-for="(name,index) in removedinvites">
                            <q-item :class="name.bgcolor">
                                <q-item-section  v-if="name.Member_member_status == 'Mitglied'">
                                    {{name.Member_firstname}} {{name.Member_name}}
                                </q-item-section>
                                <q-item-section v-if="name.Member_member_status != 'Mitglied'">
                                    {{name.Member_firstname}} {{name.Member_name}}
                                    <br>({{name.Member_member_status}})
                                </q-item-section>
                                <q-item-section v-if="useHasPermission('fbuch_edit_termin')" side top class="q-pa-none" style="padding-left:0;">
                                    <q-btn color="primary" text-color="white" round icon="navigate_next">
                                        <q-menu auto-close anchor="bottom right" self="top right" :offset="[0, 5]">
                                            <q-list dense bordered separator>
                                                <q-item @click="readdPerson(name)" clickable v-ripple>
                                                    <q-item-section avatar><q-avatar text-color="black"
                                                            icon="group_add" /></q-item-section>
                                                    <q-item-section>Person wieder hinzufügen</q-item-section>
                                                </q-item>
                                            </q-list>
                                        </q-menu>
                                    </q-btn>
                                </q-item-section>             
                            </q-item>
                        </template> 
                    </template>
                </q-list>

        </q-card>

    </div>
</div>

<q-dialog v-model="state.sendmail_dialog" @before-hide="onHideDialog">
    <q-card style="width: 400px; max-width: 100vw;">
        <q-card-section class="row items-center q-pb-none">
            <div class="text-h6">{{state.invitename}} einladen</div>
            
            <q-space />
            <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-separator></q-separator>

            <q-card-section class="q-gutter-sm">
                <div>
                Nachfolgend kann optional eine Nachricht für die Einladung eingegeben werden
                </div>
                <q-separator></q-separator>
                <q-input type="textarea" class="col-12" outlined v-model="mailvalues.comment" label="Nachricht" />
            </q-card-section>

        <q-card-actions vertical align="right">
            <q-btn color="primary" @click="sendInvites">
                Einladungen senden
            </q-btn>
        </q-card-actions>
    </q-card>
</q-dialog>

<q-dialog v-model="state.addpersons_dialog" @before-hide="onHideDialog">
    <q-card style="width: 400px; max-width: 100vw;">
        <q-card-section class="row items-center q-pb-none">
            <div class="text-h6">Personen hinzufügen</div>
            <q-space />
            <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>
        <q-separator></q-separator>

             <q-card-section class="q-gutter-sm">
                <div>
                Nachfolgend können weitere Personen für diesen Termin eingeladen werden.
                </div>
                <q-separator></q-separator>

                <api_select multiple ref="personSelect" class="col-md-12 col-sm-12 col-xs-12"
                    @update:model-value="onSelectPerson"
                    v-model="state.persons" label="Teilnehmer auswählen"
                    controller="Names?limit=100000&returntype=options&statefilter=can_be_invited"
                    behavior="default"
                    >
                </api_select> 
                
            </q-card-section>

        <q-card-actions vertical align="right">
            <q-btn color="primary" @click="addPersons">
                Personen hinzufügen
            </q-btn>
        </q-card-actions>
    </q-card>
</q-dialog>