<div class="q-pa-md full-width" style="height: 400px;">
    <q-card class="q-mb-md" bordered flat class="full-width">
        <q-card-section :class="entry.hidden==1 ? 'text-grey' : 'bg-primary text-white' ">
            <div class="row items-center no-wrap">
                <div class="col">
                    <div class="text-subtitle2">{{entry.title}}</div>
                    <div class="text-h6">{{entry.Type_name}}</div>
                    <div class="text-subtitle2">
                        {{ entry.formattedDate }}
                        <template v-if="entry.formattedEndDate != ''">
                            <br>
                            {{ entry.formattedEndDate }}
                        </template>
                    </div>
                </div>
                <div class="col-auto">
                    <q-btn color="white" text-color="black" round icon="navigate_next">
                        <q-menu anchor="bottom right" self="top right" :offset="[0, 5]">
                            <q-list dense bordered separator>
                                <q-item v-if="useHasPermission('fbuch_create_fahrten')" :href="urls.fahrtenbuch" clickable v-ripple>
                                    <q-item-section avatar><q-avatar icon="view_list" /></q-item-section>
                                    <q-item-section>
                                        <q-item-label>Zum Fahrtenbuch</q-item-label>
                                    </q-item-section>
                                </q-item>  
                                <q-item :href="urls.dayevents" clickable v-ripple>
                                    <q-item-section avatar><q-avatar icon="calendar_today" /></q-item-section>
                                    <q-item-section>
                                        <q-item-label>Zur Kalender Tagesansicht</q-item-label>
                                    </q-item-section>
                                </q-item>                                                              
                            </q-list>
                        </q-menu>
                    </q-btn>
                </div>                 
            </div>
        </q-card-section>

        <q-separator></q-separator>

        <q-card-section>
            <pre
                style="white-space: pre-wrap; word-wrap: break-word;font-family: inherit;">{{ entry.description }}</pre>
        </q-card-section>
        <q-separator></q-separator>
        <q-card-section>
            Du bist eingeloggt als <span class="text-bold"> {{currentUser.username}}</span><br>
            Mitgliederstatus:
            <template v-if="currentUser.Member_member_status != null">
                <span class="text-bold"> {{currentUser.Member_firstname}} {{currentUser.Member_name}}</span>
                ({{currentUser.Member_member_status}})<br>
            </template>
            <template v-if="currentUser.State_can_be_invited == 1">
                Mit nachfolgenden Buttons kannst Du Dich selbst eintragen oder austragen.    
            </template>
            <template v-if="currentUser.Member_member_status == null">
                Du bist nicht in der Mitgliederliste eingetragen.
            </template>
        </q-card-section>
        <template v-if="currentUser.Member_member_status != null">
            <q-separator></q-separator>
            <q-card-section class="q-pa-md q-gutter-sm">
                <template v-if="currentUser.State_can_be_invited == 1">
                    <q-btn @click="addMyself" color="positive" label="Selbst zusagen"></q-btn>
                    <q-btn @click="RemoveMyself" color="negative" label="absagen"></q-btn>                       
                </template>                
                <q-btn :href="'/termine/terminanmeldung.html/#/comments/'+entry.id" color="primary" label="Nachricht schreiben/lesen">
                    <q-badge color="red" floating>{{messageCount}}</q-badge>
                </q-btn> 
                
            </q-card-section>
        </template>

    </q-card>
    <div>
        <div class="q-col-gutter-md q-gutter-md q-mb-sm row">

            <div v-if="useHasPermission('fbuch_add_persons_to_dates')" class="col-md-4 col-sm-12 col-xs-12 q-col-gutter-md content-start row">
                <api_select ref="personSelect" class="col-md-12 col-sm-12 col-xs-12"
                    v-model="selectionState.person" @update:model-value="onSelectPerson" :emit-value="false"
                    label="Person hinzufügen" controller="Names?limit=100000&returntype=options&statefilter=can_be_invited"></api_select>
             
                <div class="col-12">    
                    <q-list bordered class="rounded-borders">
                        <q-expansion-item
                          expand-separator
                          icon="perm_identity"
                          label="Weitere Gäste eintragen"
                        >
                          <q-card>
                            <q-card-section>
                             Hier können weitere Gäste eingetragen werden.<br>
                             Bitte nur verwenden, wenn über obige Suche kein Eintrag gefunden wurde!
                            </q-card-section>
                            <q-separator/>
                            <q-card-section class="q-gutter-y-md">
                                <q-input class="col-12" outlined v-model="newguest.name" label="Name" />
                                <q-input class="col-12" outlined v-model="newguest.email" label="Email" />
                                <q-btn label="Gast eintragen" @click="addGuest" color="primary" />
                            </q-card-section>                                    
                          </q-card>
                        </q-expansion-item>
                      </q-list>
                </div>
        
            </div>
        
            <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12 q-col-gutter-md content-start row">
        
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <q-toolbar class="bg-primary text-white shadow-2">
                        <q-toolbar-title>Anmeldungen</q-toolbar-title>
                      </q-toolbar>                    
                    <q-list bordered separator >
                        <template v-if="entry.names && entry.names.length == 0">
                            <q-item>
                                <q-item-section>
                                    Keine Person eingetragen
                                </q-item-section>
                            </q-item>                 
                        </template>
                        <template v-for="(name,index) in entry.names">
                            <q-item>
                                <q-item-section v-if="name.member_status == 'Mitglied'">
                                    {{name.firstname}} {{name.name}}
                                </q-item-section>
                                <q-item-section v-if="name.member_status != 'Mitglied'">
                                    <template v-if="name.member_status != 'Gasteintrag'">{{name.firstname}} {{name.name}}</template>
                                    <template v-if="name.member_status == 'Gasteintrag'">{{name.guestname}}</template>
                                    <br>({{name.member_status}})
                                </q-item-section>
                                <q-item-section v-if="name.cox==1" side class="q-pa-none" style="padding-left:0;">
                                    <q-avatar>
                                        <img src="[[++fbuch.assets_url:default=`assets/components/fbuch/`]]img/noun_78924_cc.svg"
                                            style="width: 18px;" />
                                    </q-avatar>
                                </q-item-section >                    
                                <q-item-section v-if="name.obmann==1" side class="q-pa-none" style="padding-left:0;">
                                    <q-avatar>
                                        <img src="[[++fbuch.assets_url:default=`assets/components/fbuch/`]]img/king-svgrepo-com.svg"
                                            style="width: 18px;" />
                                    </q-avatar>
                                </q-item-section>    
                                <q-item-section side top class="q-pa-none" style="padding-left:0;">
                                    <q-btn v-if="!name.hidemenu" color="primary" text-color="white" round icon="navigate_next">
                                        <q-menu auto-close anchor="bottom right" self="top right"
                                            :offset="[0, 5]">
                                            <q-list dense bordered separator>
                                                <q-item v-if="name.can_remove" @click="removePerson(index)" clickable v-ripple>
                                                    <q-item-section avatar><q-avatar text-color="red"
                                                            icon="person_remove" /></q-item-section>
                                                    <q-item-section>Person entfernen</q-item-section>
                                                </q-item>
                                            </q-list>
                                        </q-menu>
                                    </q-btn>
                                </q-item-section>
        
                            </q-item>
                        </template>
                    </q-list>
                </div>
        
            </div>
        </div>
    </div>

</div>