<div class="q-pa-md full-width" style="height: 400px;">
    <div class="text-h4 text-center"> {{ boot.name }} {{ selectionState.formattedDate }} </div>
    <template v-if="!entry.can_edit">
        <q-card class="">
            <q-card-section class="text-h6 bg-negative text-white">
               Du hast keine Berechtigung diese Fahrt zu bearbeiten. 
            </q-card-section>
        
        <q-card-section v-if="entry.cant_edit_reason == 'cant_edit_old_entries'">
             Abgeschlossene Fahrten, welche in der Vergangenheit liegen, können von Dir nicht bearbeitet werden.
        </q-card-section>  
        <q-card-actions>
        <q-btn label="Abbrechen" @click="onCancelClick" class="q-ml-sm" color="primary" />    
        </q-card-actions>          
        </q-card>

            

    </template>
    <template v-if="entry.can_edit">
    <div class="col-12">
        <q-tabs v-if="showpersonstab" v-model="tab" align="left" no-caps outside-arrows mobile-arrows class="">
            <q-tab name="general" label="Eintrag" />
            <q-tab name="persons" label="Personen" />
        </q-tabs>
    </div>
    <q-form @submit="onSubmit" @reset="onReset" ref="eventform">
        <q-tab-panels keep-alive v-model="tab">
            <q-tab-panel name="general">
                <div class="q-col-gutter-md q-gutter-md q-mb-sm row">
                    <div class="col-md-4 col-sm-12 q-col-gutter-md content-start row">

                        <api_select style="display:none;" class="col-md-12 col-sm-12 col-xs-12" v-model="selectionState.gattungname"
                            label="Kategorieauswahl" :first_option="{'label':'---','value':'0'}"
                            @update:model-value="onSelectGattung"
                            controller="Boote?limit=100000&returntype=gattungnames"
                            behavior="default"
                            >
                        </api_select>

                        <api_select v-if="showbootsgattungselect" ref="bootsgattungSelect" class="col-md-12 col-sm-6 col-xs-12"
                            v-model="selectionState.bootsgattung" label="Kategorie Vorauswahl"
                            :first_option="{'label':'---','value':'0'}" @update:model-value="onSelectBootsgattung"
                            :controller="'Boote?limit=100000&returntype=bootsgattungen&gattung_name='+entry.Gattung_name"
                            behavior="default"
                            >
                        </api_select>

                        <api_select ref="bootSelect" class="col-md-12 col-sm-6 col-xs-12" v-model="entry.boot_id"
                            label="Boot/Gerät/Raum/..." :first_option="{'label':'---','value':'0'}"
                            :controller="'Boote?limit=100000&returntype=options&gattung_name='+entry.Gattung_name" @update:model-value="onSelectBoot"
                            :emit-value="false" :hide-bottom-space="true"
                            :rules="[val => (!submitclicked || val != '0' ) || 'Bitte eine Auswahl treffen!']"
                            behavior="default"
                            >
                            
                        </api_select>                        

                        <datepicker label="Startdatum" class="col-md-12 col-sm-6 col-xs-12" v-model="entry.date"
                            :event="entry" :state="state" startfield="date" endfield="date_end"
                            timestartfield="start_time" timeendfield="end_time" which="start">
                        </datepicker>

                        <timeinput label="Uhrzeit Beginn" class="col-md-12 col-sm-6 col-xs-12"
                            v-model="entry.start_time" :event="entry" :state="state" startfield="date"
                            endfield="date_end" timestartfield="start_time" timeendfield="end_time" which="start">
                        </timeinput>

                        <datepicker label="Datum bis" class="col-md-12 col-sm-6 col-xs-12" v-model="entry.date_end"
                            :event="entry" :state="state" startfield="date" endfield="date_end"
                            timestartfield="start_time" timeendfield="end_time" which="end">
                        </datepicker>

                        <timeinput label="Uhrzeit Ende" class="col-md-12 col-sm-6 col-xs-12" v-model="entry.end_time"
                            :event="entry" :state="state" startfield="date" endfield="date_end"
                            timestartfield="start_time" timeendfield="end_time" which="end">
                        </timeinput>

                        <q-input class="col-4" outlined readonly v-model="state.days" label="Tage" mask="###" />

                        <q-input class="col-4" outlined readonly v-model="state.hours" label="Stunden" mask="######" />

                        <q-input class="col-4" outlined readonly v-model="state.minutes" label="Minuten" />
                    </div>


                    <div class="col-md-8 col-sm-12 q-col-gutter-md content-start row">
                        <div v-if="boot.id > 0" class="col-12">
                        <q-card flat bordered >
                            <q-card-section v-if="boot.gesperrt == 0" class="bg-primary text-white">
                                {{ boot.gewichtsklasse }} <br>
                                Gruppe: <strong>{{nutzergruppe.name}}</strong> <br>
                                <p v-html="nl2br(nutzergruppe.description)"></p>
                                aktuelle Bootsriggerung: {{boot.Bootsgattung_shortname}}<br>
                                Riggerung in dieser Fahrt: {{gattung.shortname}}<br>
                                <q-btn v-if="boot.gattungen.length > 1" @click="state.dialog_riggerung=true;" label="Boot umriggern" class="bg-white text-black"></q-btn>
                              </q-card-section> 
                              <q-card-section v-if="boot.gesperrt == 0" :style="'background-color:#' + nutzergruppe.color">
                                
                             </q-card-section>                               
                              <q-card-section v-if="boot.gesperrt == 1" class="bg-negative text-white">
                                 Das Boot/Gerät ist zur Zeit für die Benutzung gesperrt. <br> 
                                 <q-btn @click="boot.gesperrt=0" label="Nutzung erzwingen" class="bg-white text-black"></q-btn>                                 
                              </q-card-section>                                                          
                           </q-card>                            
                        </div>

                        [[fbuchGetAssetsFiles?
                        &folder=`quasar/views/fahrtenbuch/formparts`
                        ]]

                        <q-input class="col-12" outlined autogrow v-model="entry.note" label="Kommentar (optional)" />

                        <div v-if="showpersonstab" class="col-12" >
                            <q-btn @click="tab='persons'" label="Personen eintragen"></q-btn>
                        </div>                          

                    </div>

                </div>

            </q-tab-panel>
            <q-tab-panel name="persons">

                <div class="q-col-gutter-md q-gutter-md q-mb-sm row">

                    <div class="col-md-4 col-sm-12 col-xs-12 q-col-gutter-md content-start row">

                        <div class="col-12 row" v-if="currentMember.State_can_be_added_to_entry == 1">
                            <q-btn class="col-12" @click="addMyself" color="positive" :label="'Selbst eintragen ('+currentMember.firstname+' '+currentMember.name+')'"></q-btn>
                        </div>

                        <api_select ref="personSelect" class="col-md-12 col-sm-12 col-xs-12"
                            v-model="selectionState.person" @update:model-value="onSelectPerson" :emit-value="false"
                            label="Person hinzufügen" controller="Names?limit=100000&returntype=options&statefilter=can_be_added_to_entry"
                            behavior="default"
                            >
                        </api_select>
                     
                        <div class="col-12">    
                            <q-list bordered class="rounded-borders">
                                <q-expansion-item
                                  expand-separator
                                  icon="perm_identity"
                                  label="Gäste eintragen"
                                >
                                  <q-card>
                                    <q-card-section>
                                     Hier können weitere Gäste eingetragen werden.<br>
                                     Bitte nur verwenden, wenn über obige Suche kein Eintrag gefunden wurde!
                                    </q-card-section>
                                    <q-separator/>
                                    <q-card-section class="q-gutter-y-md">
                                        <q-input class="col-12" outlined v-model="newguest.name" label="Name" />
                                        <q-input class="col-12" outlined v-model="newguest.email" label="Email" />
                                        <q-btn label="Gast eintragen" @click="addGuest" color="primary" />
                                    </q-card-section>                                    
                                  </q-card>
                                </q-expansion-item>
                              </q-list>
                        </div>

                    </div>

                    <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12 q-col-gutter-md content-start row">

                        <div class="" class="col-md-12 col-sm-12 col-xs-12">
                            <q-toolbar class="bg-primary text-white shadow-2">
                                <q-toolbar-title>Einträge</q-toolbar-title>
                              </q-toolbar>                             
                            <q-list bordered separator>
                                <template v-if="!entry.names || entry.names && entry.names.length == 0">
                                    <q-item>
                                        <q-item-section>
                                            Keine Person eingetragen
                                        </q-item-section>
                                    </q-item>                 
                                </template>                                
                                <template v-for="(name,index) in entry.names">
                                    <q-item>
                                        <q-item-section side :style="'background-color:#'+name.CompetencyLevel_color+';margin:-8px 10px -7px -16px;padding-right: 9px;'">
                       
                                        </q-item-section>                                           
                                        <q-item-section v-if="name.member_status == 'Mitglied'">
                                            {{name.firstname}} {{name.name}}
                                        </q-item-section>
                                        <q-item-section v-if="name.member_status != 'Mitglied'">
                                            <template v-if="name.member_status != 'Gasteintrag'">{{name.firstname}} {{name.name}}</template>
                                            <template v-if="name.member_status == 'Gasteintrag'">{{name.guestname}}</template>
                                            <br>({{name.member_status}})
                                        </q-item-section>
                                        <q-item-section v-if="name.cox==1" side class="q-pa-none" style="padding-left:0;">
                                            <q-avatar>
                                                <img src="[[++fbuch.assets_url:default=`assets/components/fbuch/`]]img/noun_78924_cc.svg"
                                                    style="width: 18px;" />
                                            </q-avatar>
                                        </q-item-section >                    
                                        <q-item-section v-if="name.obmann==1" side class="q-pa-none" style="padding-left:0;">
                                            <q-avatar>
                                                <img src="[[++fbuch.assets_url:default=`assets/components/fbuch/`]]img/king-svgrepo-com.svg"
                                                    style="width: 18px;" />
                                            </q-avatar>
                                        </q-item-section>    
                                        <q-item-section side top class="q-pa-none" style="padding-left:0;">
                                            <q-btn color="primary" text-color="white" round icon="navigate_next">
                                                <q-menu auto-close anchor="bottom right" self="top right"
                                                    :offset="[0, 5]">
                                                    <q-list dense bordered separator>
                                                        <q-item clickable v-ripple @click="setObmann(index)">
                                                            <q-item-section avatar>
                                                                <q-avatar >
                                                                    <img src="[[++fbuch.assets_url:default=`assets/components/fbuch/`]]img/king-svgrepo-com.svg"
                                                                        style="width: 18px;" />
                                                                </q-avatar>
                                                            </q-item-section>
                                                            <q-item-section>Obmann/-frau</q-item-section>
                                                        </q-item>
                                                        <q-item clickable v-ripple @click="setCox(index)">
                                                            <q-item-section avatar>
                                                                <q-avatar >
                                                                    <img src="[[++fbuch.assets_url:default=`assets/components/fbuch/`]]img/noun_78924_cc.svg"
                                                                        style="width: 18px;" />
                                                                </q-avatar>
                                                            </q-item-section>
                                                            <q-item-section>Steuermann/-frau</q-item-section>
                                                        </q-item>
                                                        <q-item @click="removePerson(index)" clickable v-ripple>
                                                            <q-item-section avatar><q-avatar text-color="red"
                                                                    icon="person_remove" /></q-item-section>
                                                            <q-item-section>Person entfernen</q-item-section>
                                                        </q-item>
                                                    </q-list>
                                                </q-menu>
                                            </q-btn>
                                        </q-item-section>

                                    </q-item>
                                </template>
                            </q-list>
                        </div>

                    </div>
                </div>
            </q-tab-panel>
        </q-tab-panels>
        <div class="col-12">
            <q-btn v-if="boot.gesperrt!=1" label="Speichern" type="submit" @click="onSubmitClick" color="primary" />
            <q-btn label="Abbrechen" @click="onCancelClick" class="q-ml-sm" />
        </div>
    </q-form>
    </template>
</div>

<q-dialog v-model="warnung" persistent transition-show="scale" transition-hide="scale">
    <q-card class="bg-red text-white" style="width: 300px">
      <q-card-section>
        <div class="text-h6">Achtung!</div>
      </q-card-section>

      <q-card-section class="q-pt-none">
        Eine weitere Boje wurde Richtung flussauf auf Hafenlohrer Seite im Bereich der Mündung Hafenlohr installiert! Bitte dort erhöhte Vorsicht!
      </q-card-section>

      <q-card-actions align="right" class="bg-white text-black">
        <q-btn flat label="OK" v-close-popup />
      </q-card-actions>
    </q-card>
  </q-dialog>

  <riggerungform 
  v-model="state.dialog_riggerung"
  :boot="boot"
  :entry="entry"
  @onOk="onChangeRiggerung"
  />

