<div class="q-pl-md">
[[$$fbuchPegelWrapper]]
[[$$fbuchMitgliederMessageQuasar]]
<div class="q-pa-sm q-gutter-sm row">
    <q-btn outline label="< Früher" @click="onPrev"></q-btn>
    <q-btn outline label="Heute" @click="onToday"></q-btn>
    <q-btn outline label="Später >" @click="onNext"></q-btn>
</div>

<div class="text-h4 text-center"> {{ formattedDate }} </div>

<div class="q-pa-sm row q-col-gutter-sm">

    <div class="col-12 col-md-4">
        <q-card bordered class="full-width">
            <q-card-section class="q-pa-sm row">
                <div class="col text-h6">Teilnehmergruppen (Termine)</div>
                <div class="col-auto">
                    <q-btn color="primary" text-color="white" round icon="navigate_next">
                        <q-menu auto-close anchor="bottom right" self="top right" :offset="[0, 5]">
                            <q-list dense bordered separator>
                                <q-item v-if="useHasPermission('fbuch_create_termin')" href="/termine/kalenderansicht.html/#/event-create" clickable v-ripple>
                                    <q-item-section avatar><q-avatar icon="add" /></q-item-section>
                                    <q-item-section>
                                        <q-item-label>Neuen Termin erstellen</q-item-label>
                                    </q-item-section>
                                </q-item>
                                <q-item :href="'/termine/kalenderansicht.html/#/events/day/' + urlDate" clickable v-ripple>
                                    <q-item-section avatar><q-avatar icon="calendar_today" /></q-item-section>
                                    <q-item-section>
                                        <q-item-label>Zur Kalender Tagesansicht</q-item-label>
                                    </q-item-section>
                                </q-item>                                
                            </q-list>
                        </q-menu>
                    </q-btn>
                </div>                
            </q-card-section>
            <q-separator></q-separator>
            <q-card-section class="q-pa-sm q-gutter-y-sm">
                <template v-for="event in loadedEvents">
                    <dayevent :event="event" @nameCheckbox="onNameCheckbox" @updateEvent="loadEventsToday" view="fahrtenbuch"></dayevent>
                </template>
            </q-card-section>

        </q-card>
    </div>

    <div class="col-12 col-md-4 q-gutter-y-sm">
        <q-card bordered class="full-width">
            <q-card-section class="q-pa-sm row">
                <div class="col text-h6">offene Einträge</div>
                <div class="col-auto">
                    <q-btn color="primary" text-color="white" round icon="add">
                        <q-menu auto-close anchor="bottom right" self="top right" :offset="[0, 5]">
                            <q-list dense bordered separator>
                                <q-item-label header>Neuen Eintrag erstellen</q-item-label>

                                <q-item v-for="gattung in gattungnames" :href="'/fahrtenbuch/fahrtenbuch.html/#/entry-create/'+gattung.Bootsgattung_name" clickable v-ripple>
                                    <q-item-section>
                                        <q-item-label>{{gattung.Bootsgattung_name}}</q-item-label>
                                    </q-item-section>
                                </q-item>                                
                            </q-list>
                        </q-menu>
                    </q-btn>
                </div>
            </q-card-section>
            <q-separator></q-separator>
            <q-card-section class="q-pa-sm q-gutter-y-sm">
                <template v-for="entry in open">
                    <entry :entry="entry" @nameCheckbox="onNameCheckbox" :moveMembers="moveMembers" :loadAll="loadAll" />
                </template>
            </q-card-section>
        </q-card>
        <q-card v-if="sheduled.length > 0" bordered class="full-width">
            <q-card-section class="q-pa-sm">
                <div class="text-h6">geplante Einträge</div>
            </q-card-section>
            <q-separator></q-separator>
            <q-card-section class="q-pa-sm q-gutter-y-sm">
                <template v-for="entry in sheduled">
                    <entry :entry="entry" @nameCheckbox="onNameCheckbox" :moveMembers="moveMembers" :loadAll="loadAll" />
                </template>
            </q-card-section>
        </q-card>
    </div>
    <div class="col-12 col-md-4">
        <q-card bordered class="full-width">
            <q-card-section class="q-pa-sm">
                <div class="text-h6">abgeschlossene Einträge</div>
            </q-card-section>
            <q-separator></q-separator>
            <q-card-section class="q-pa-sm q-gutter-y-sm">
                <template v-for="entry in finished">
                    <entry section="finished" :entry="entry" :moveMembers="moveMembers" :loadAll="loadAll" />
                </template>
            </q-card-section>
        </q-card>
    </div>
</div>
</div>