<template v-if="bootSelection.gattungname == 'Ruderboot'">
    <q-input class="col-md-4 col-sm-4 col-xs-12" outlined v-model="entry.km" label="Fahrtstreckenlänge (km)" type="number" step="0.1"/>
    <api_select class="col-md-8 col-sm-8 col-xs-12" v-model="bootSelection.destination" label="Standardruderstrecken ab Bootshaus"
    :first_option="{'label':'---','value':'0','km':'0'}"
    @update:model-value="entry.km=bootSelection.destination.km;entry.destination=bootSelection.destination.destination"
    :emit-value="false"
    controller="Destinations?limit=100000&returntype=options"></api_select>

    <q-input class="col-md-12 col-sm-12 col-xs-12" outlined autogrow v-model="entry.destination" label="Ruderstrecke" />    
    
    <q-field class="col-md-4 col-sm-4 col-xs-12" outlined color="dark">
        <q-checkbox
          v-model="entry.finished"
          label="Fahrt abgeschlossen"
          :true-value="1"
          :false-value="0"
        />
    </q-field>
    
      <q-field class="col-md-4 col-sm-4 col-xs-12" outlined  color="dark">
        <q-checkbox
          
          v-model="entry.wfahrt"
          label="Wanderfahrt"
          :true-value="1"
          :false-value="0"
        />
      </q-field>    
      
</template>