<template v-if="['Ergometer','Motorboot','SkiErg'].includes(selectionState.gattungname)">
    <valuesetter @hasmounted="showpersonstab=false" />
    <valuesetter @hasmounted="entry.persons_option='single'" />
    <div class="col-md-4 col-sm-4 col-xs-12 row" v-if="currentMember.State_can_be_added_to_entry == 1">
        <q-btn class="col-12" @click="selectMyself" color="positive" :label="'Selbst eintragen ('+currentMember.firstname+' '+currentMember.name+')'"></q-btn>
    </div>    
    <api_select class="col-md-4 col-sm-4 col-xs-12" v-model="entry.member_id" :emit-value="true"
        label="Person auswählen" :first_option="{'label':'Gasteintrag','value':'0'}"
        controller="Names?limit=100000&returntype=options&statefilter=can_be_added_to_entry" 
        :hide-bottom-space="true"
        :ref="el => { inputs.member_id = el }"
        :rules="[val => (!submitclicked || (val > 0 || entry.guestname != '') ) || 'Bitte eine Person auswählen!']"
        behavior="default"
        >
    </api_select>
    <q-input v-if="entry.member_id==0" @update:model-value="() =>(inputs.member_id.fieldRef.resetValidation())"
        class="col-md-4 col-sm-4 col-xs-12" outlined v-model="entry.guestname" label="Gastname" />
    <q-input @update:model-value="val =>(entry.finished = (val>0) ? 1 : 0)" class="col-md-4 col-sm-4 col-xs-12" outlined
        v-model="entry.km" label="Fahrtstreckenlänge (km)" type="number" step="0.1" />
</template>