<template v-if="entry.Type_registrationpage_text==''">
<div class="col-lg-4 col-md-6 col-xs-12 q-gutter-md ">
<div>{{entry.names.length}} Anmeldungen
    <template v-if="entry.max_reservations>0"> von max. {{entry.max_reservations}}
        <template v-if="entry.names.length>=entry.max_reservations">
            <br>Weitere Anmeldungen gehen auf Warteliste
            <br>rot hinterlegte Einträge sind aktuell auf Warteliste
        </template>          
    </template>
</div>
  
<template v-if="currentUser.State_can_be_invited == 1">
    <q-btn @click="addMyself" color="positive" label="Selbst zusagen"></q-btn>
    <q-btn @click="RemoveMyself" color="negative" label="absagen"></q-btn>
</template>

<template v-if="useHasPermission('fbuch_add_persons_to_dates')">

        <div class="col-12">
            <q-list bordered class="rounded-borders">
                <q-expansion-item expand-separator icon="group_add" label="Weitere Mitglieder eintragen">
                    <q-card>
                        <q-card-section>
                            Hier können weitere Personen und Gäste aus der Mitgliederliste eingetragen werden.<br>
                         </q-card-section>
                        <q-separator />
                        <q-card-section class="q-gutter-y-md">
                            <api_select_multiple multiple ref="personSelect" class="col-md-12 col-sm-12 col-xs-12" v-model="selectionState.persons"
                            @update:model-value="onSelectPerson"
                            label="Personen hinzufügen"
                            controller="Names?limit=100000&returntype=options&statefilter=can_be_invited"
                            behavior="default"
                            ></api_select_multiple>
                            <q-btn label="Personen eintragen" @click="addPersons" color="primary" />
                        </q-card-section>
                    </q-card>
                </q-expansion-item>
            </q-list>
        </div>


    <div class="col-12">
        <q-list bordered class="rounded-borders">
            <q-expansion-item expand-separator icon="perm_identity" label="Weitere Gäste eintragen">
                <q-card>
                    <q-card-section>
                        Hier können weitere Gäste eingetragen werden.<br>
                        Bitte nur verwenden, wenn über obige Suche kein Eintrag gefunden wurde!
                    </q-card-section>
                    <q-separator />
                    <q-card-section class="q-gutter-y-md">
                        <q-input class="col-12" outlined v-model="newguest.name" label="Name" />
                        <q-input class="col-12" outlined v-model="newguest.email" label="Email" />
                        <q-btn label="Gast eintragen" @click="addGuest" color="primary" />
                    </q-card-section>
                </q-card>
            </q-expansion-item>
        </q-list>
    </div>

</template>
</div>

<div class="col-lg-4 col-md-6 col-xs-12">

<q-card flat bordered class="q-mb-md">
    <q-card-section class="bg-primary text-white">
        <div class="text-h6">{{entry.names.length}} Anmeldungen </div>
        
      </q-card-section>                                
        <q-list bordered separator>
            <template v-if="entry.names && entry.names.length == 0">
                <q-item>
                    <q-item-section>
                        Keine Person eingetragen
                    </q-item-section>
                </q-item>
            </template>
            <template v-for="(name,index) in entry.names">
                <q-item :class="entry.max_reservations>0 && name.idx>entry.max_reservations ? 'bg-red-2' : ''">
                    <q-item-section side style="margin-left:8px;">
                        {{name.idx}}
                    </q-item-section>                    
                    <q-item-section v-if="name.member_status == 'Mitglied'">
                        <q-item-label>{{name.firstname}} {{name.name}}</q-item-label>
                        <q-item-label>{{name.createdon_formatted}}</q-item-label>
                    </q-item-section>
                    <q-item-section v-if="name.member_status != 'Mitglied'">
                        <template v-if="name.member_status != 'Gasteintrag'"><q-item-label>{{name.firstname}} {{name.name}}</q-item-label></template>
                        <template v-if="name.member_status == 'Gasteintrag'"><q-item-label>{{name.guestname}}</q-item-label></template>
                        <q-item-label>({{name.member_status}})</q-item-label>
                        <q-item-label>{{name.createdon_formatted}}</q-item-label>
                    </q-item-section>
                    <q-item-section v-if="name.cox==1" side class="q-pa-none" style="padding-left:0;">
                        <q-avatar>
                            <img src="[[++fbuch.assets_url:default=`assets/components/fbuch/`]]img/noun_78924_cc.svg"
                                style="width: 18px;" />
                        </q-avatar>
                    </q-item-section>
                    <q-item-section v-if="name.obmann==1" side class="q-pa-none" style="padding-left:0;">
                        <q-avatar>
                            <img src="[[++fbuch.assets_url:default=`assets/components/fbuch/`]]img/king-svgrepo-com.svg"
                                style="width: 18px;" />
                        </q-avatar>
                    </q-item-section>
                    <q-item-section side top class="q-pa-none" style="padding-left:0;">
                        <q-btn v-if="!name.hidemenu" color="primary" text-color="white" round icon="navigate_next">
                            <q-menu auto-close anchor="bottom right" self="top right" :offset="[0, 5]">
                                <q-list dense bordered separator>
                                    <q-item v-if="name.can_remove" @click="removePerson(index)" clickable v-ripple>
                                        <q-item-section avatar><q-avatar text-color="red"
                                                icon="person_remove" /></q-item-section>
                                        <q-item-section>Person entfernen</q-item-section>
                                    </q-item>
                                </q-list>
                            </q-menu>
                        </q-btn>
                    </q-item-section>

                </q-item>
            </template>
        </q-list>

</q-card>

</div>
<div class="col-lg-4 col-md-6 col-xs-12">

<q-card flat bordered class="q-mb-md">
    <q-card-section class="bg-primary text-white">
        <div class="text-h6">Abmeldungen</div>
      </q-card-section>                                
        <q-list bordered separator>
            <template v-if="abmeldungen && abmeldungen.length == 0">
                <q-item>
                    <q-item-section>
                        Keine Abmeldungen
                    </q-item-section>
                </q-item>
            </template>
            <template v-for="(name,index) in abmeldungen">
                <q-item>
                    <q-item-section v-if="name.Member_member_status == 'Mitglied'">
                        {{name.Member_firstname}} {{name.Member_name}}
                    </q-item-section>
                    <q-item-section v-if="name.Member_member_status != 'Mitglied'">
                        {{name.Member_firstname}} {{name.Member_name}}
                        <br>({{name.Member_member_status}})
                    </q-item-section>

                </q-item>
            </template>
        </q-list>

</q-card>
</div>
</template>