<q-form @submit="onSubmit" @reset="onReset" ref="eventform">


    <q-card class="q-mb-md" bordered flat class="full-width">
        <q-card-section :class="event.hidden==1 ? 'text-grey' : 'bg-primary text-white' ">
            <div class="row items-center no-wrap">
                <div class="col">
                    <div class="text-subtitle2">{{event.title}}</div>
                    <div class="text-h6">{{event.type}}</div>
                    <div class="text-subtitle2">
                        {{ event.formattedDate }}
                        <template v-if="event.formattedEndDate != ''">
                            <br>
                            {{ event.formattedEndDate }}
                        </template>
                    </div>
                </div>
                <div class="col-auto">
                    <q-btn color="white" text-color="black" round icon="navigate_next">
                        <q-menu anchor="bottom right" self="top right" :offset="[0, 5]">
                            <q-list dense bordered separator>
                                <q-item v-if="useHasPermission('fbuch_create_fahrten')" :href="urls.fahrtenbuch" clickable v-ripple>
                                    <q-item-section avatar><q-avatar icon="view_list" /></q-item-section>
                                    <q-item-section>
                                        <q-item-label>Zum Fahrtenbuch</q-item-label>
                                    </q-item-section>
                                </q-item>  
                                <q-item :to="urls.day" clickable v-ripple>
                                    <q-item-section avatar><q-avatar icon="calendar_today" /></q-item-section>
                                    <q-item-section>
                                        <q-item-label>Zur Tagesansicht</q-item-label>
                                    </q-item-section>
                                </q-item> 
                                <q-item :to="urls.kalender" clickable v-ripple>
                                    <q-item-section avatar><q-avatar icon="calendar_today" /></q-item-section>
                                    <q-item-section>
                                        <q-item-label>Zur Kalenderansicht</q-item-label>
                                    </q-item-section>
                                </q-item>
                                <q-item :href="'/termine/#/' +event.id+ '/einladungen'" clickable v-ripple>
                                    <q-item-section avatar><q-avatar icon="event" /></q-item-section>
                                    <q-item-section>
                                        <q-item-label>Einladungen vornehmen</q-item-label>
                                        <q-item-label caption>Übersicht Einladungen und Zusagen</q-item-label>
                                    </q-item-section>
                                </q-item>                                                                                                                              
                            </q-list>
                        </q-menu>
                    </q-btn>
                </div>                 
            </div>
        </q-card-section>
    </q-card>


    <div class="col-12">
        <q-tabs v-if="event.parent>0" v-model="tab" align="left" no-caps outside-arrows mobile-arrows class="">
            <q-tab name="date" label="Termin Daten" />
            <q-tab name="fields" label="Felder schützen" />
        </q-tabs>
    </div>
    <q-tab-panels v-model="tab">
        <q-tab-panel name="date">
            <div class="q-col-gutter-md q-gutter-md row">

                <div class="col-md-4 col-sm-12 q-col-gutter-md content-start row">
                    <datepicker label="Startdatum" class="col-md-12 col-sm-6 col-xs-12" v-model="event.date"
                        :event="event" :state="state" startfield="date" endfield="date_end" timestartfield="start_time"
                        timeendfield="end_time" which="start">
                    </datepicker>

                    <timeinput label="Uhrzeit Beginn" class="col-md-12 col-sm-6 col-xs-12" v-model="event.start_time"
                        :event="event" :state="state" startfield="date" endfield="date_end" timestartfield="start_time"
                        timeendfield="end_time" which="start">
                    </timeinput>

                    <datepicker label="Datum bis" class="col-md-12 col-sm-6 col-xs-12" v-model="event.date_end"
                        :event="event" :state="state" startfield="date" endfield="date_end" timestartfield="start_time"
                        timeendfield="end_time" which="end">
                    </datepicker>

                    <timeinput label="Uhrzeit Ende" class="col-md-12 col-sm-6 col-xs-12" v-model="event.end_time"
                        :event="event" :state="state" startfield="date" endfield="date_end" timestartfield="start_time"
                        timeendfield="end_time" which="end">
                    </timeinput>

                    <q-input class="col-4" outlined readonly v-model="state.days" label="Tage" mask="###" />

                    <q-input class="col-4" outlined readonly v-model="state.hours" label="Stunden" mask="######" />

                    <q-input class="col-4" outlined readonly v-model="state.minutes" label="Minuten" />
                </div>


                <div class="col-md-8 col-sm-12 q-col-gutter-md content-start row">

                    <api_select class="col-md-4 col-sm-4 col-xs-12" v-model="event.instructor_member_id"
                        label="Betreuer" controller="Names?limit=100000&returntype=options&statefilter=can_be_added_to_entry"
                        behavior="default"
                        ></api_select>

                    <q-input class="col-md-8 col-sm-4 col-xs-12" outlined v-model="event.title"
                        label="Titel/Gruppe/Zweck" :hide-bottom-space="true"
                        :rules="[val => (!submitclicked || !!val) || 'Bitte einen Text eintragen!']" />

                    <api_select class="col-md-4 col-sm-4 col-xs-12" ref="eventtype" v-model="event.type"
                        label="Termin Art" controller="Datetypes?limit=100000&returntype=options"
                        :hide-bottom-space="true"
                        :rules="[val => (!submitclicked || !!val) || 'Bitte eine Termin Art wählen!']"
                        behavior="default"
                        ></api_select>

                    <api_select class="col-md-6 col-sm-8 col-xs-12" v-model="event.mailinglist_id"
                        label="Einladungs Liste" controller="Mailinglists?limit=100000&returntype=options"
                        behavior="default"
                        ></api_select>

                    <q-input class="col-md-2 col-sm-4 col-xs-12" outlined v-model="event.max_reservations"
                        label="Plätze max." mask="###" />

                    <q-input class="col-12" outlined v-model="event.description" label="Beschreibung" type="textarea" />

                </div>

        </q-tab-panel>
        <q-tab-panel name="fields">
            Wenn Du eine Änderung vornimmst, werden alle Felder der nachfolgend aufgeführten Wiederholungen
            überschrieben.
            <br>
            Du kannst dies umgehen: Du hast für einen spezifischen Termin in der Zukunft eine Änderung vorgenommen, z.B.
            soll der Titel dieses einen Termins „Training mit Christoph Galandi“ statt ursprünglich „Teamrowing –
            allgemein 18.00 Uhr“ heißen.
            <br>
            Um den Titel vor einer Überschreibung zu schützen, z.B. weil Du eines Tages bei allen Wiederholungen den
            Titel in „Teamrowing – allgemein 19.00 Uhr“ ändern möchtest, kannst Du bei dem spezifischen Termin „Training
            mit Christoph Galandi“ ein Häckchen im Feld Titel setzten. Somit wird dieser nicht geändert.
            <br>
            <template v-for="field in protect_fields">
                <q-checkbox v-model="event.protected_fields" :val="field.field" :label="field.label" /><br>
            </template>

        </q-tab-panel>
    </q-tab-panels>

    <div class="col-12">
        <q-btn label="Speichern" type="submit" @click="onSubmitClick" color="primary" />
        <q-btn label="Zur Tagesansicht" :to="urls.day" color="primary" flat class="q-ml-sm" />
        <q-btn label="Zur Kalenderansicht" :to="urls.kalender" color="primary" flat class="q-ml-sm" />
        <q-btn label="Zum Fahrtenbuch" :href="urls.fahrtenbuch" color="primary" flat class="q-ml-sm" />
    </div>
</q-form>

<q-dialog v-model="save_dialog">
    <q-card>
        <q-card-section class="row items-center q-pb-none">
            <div class="text-h6">Alles speichern</div>
            <q-space />
            <q-btn icon="close" flat round dense v-close-popup />
        </q-card-section>

        <q-card-section>
            <q-option-group v-model="save_which" inline :options="[
  { label: 'nur diesen Termin', value: 'this_only' },
  { label: 'auch kommende Wiederholungen', value: 'recurrencies' }
]" />
            <template v-if="save_which=='recurrencies'">
                <div class="text-h6">Markierte Wiederholungen werden überschrieben</div>
                <template v-for="month in recurrencies_store.monthlyEvents">
                    <q-list bordered padding>
                        <q-item-label header>{{month.formattedmonth}}</q-item-label>

                        <template v-for="event in month.events">
                            <q-item tag="label" v-ripple>
                                <q-separator />
                                <q-item-section side top>
                                    <q-checkbox v-model="recurrencies_store.recurrenceSelections[event.id]" />
                                </q-item-section>

                                <q-item-section>
                                    <q-item-label>{{event.title}}
                                        <div class="text-subtitle2">
                                            {{ event.formattedDate }}
                                            <template v-if="event.formattedEndDate != ''">
                                                <br>
                                                {{ event.formattedEndDate }}
                                            </template>
                                        </div>
                                    </q-item-label>
                                    <q-item-label caption>
                                        {{event.description}}
                                    </q-item-label>
                                </q-item-section>
                            </q-item>
                            <q-separator inset="item" />
                        </template>

                    </q-list>
                </template>
            </template>
        </q-card-section>
        <q-card-actions vertical align="right">
            <q-btn color="primary" v-if="useHasPermission('fbuch_edit_termin')" @click="save">
                Speichern
            </q-btn>
        </q-card-actions>
    </q-card>
</q-dialog>