<q-card bordered flat class="full-width">
    <q-card-section :class="event.hidden==1 ? 'text-grey' : 'bg-'+event.Type_colorstyle + ' text-white' ">
        <div class="row items-center no-wrap">
            <div class="col">
                <div class="text-subtitle2">{{event.title}}</div>
                <div class="text-h6">{{event.Type_name}}</div>
                <div class="text-subtitle2">
                    {{ event.formattedDate }}
                    <template v-if="event.formattedEndDate != ''">
                        <br>
                        {{ event.formattedEndDate }}
                    </template>
                </div>
            </div>
            <div class="col-auto">
                <q-btn color="white" text-color="black" round icon="more_vert">
                    <q-menu anchor="bottom right" self="top right" :offset="[0, 5]">
                        <q-list dense bordered separator>

                            <q-item :href="'/termine/anmelden.html?date_id='+event.id" clickable v-ripple>
                                <q-item-section avatar><q-avatar icon="group_add" /></q-item-section>
                                <q-item-section>
                                    <q-item-label>Anmelden</q-item-label>
                                    <q-item-label caption>Dich oder Andere anmelden<br>oder Nachricht
                                        schreiben</q-item-label>
                                </q-item-section>
                            </q-item>

                            <q-item :href="'/?offset='+event.date + '&type=dragdrop&dir=none'" clickable v-ripple>
                                <q-item-section avatar><q-avatar icon="launch" /></q-item-section>
                                <q-item-section>
                                    <q-item-label>Zum Termin im Fahrtenbuch</q-item-label>
                                </q-item-section>
                            </q-item>

                            <q-item :href="'/termine/rudern.html?date_id='+event.id" clickable v-ripple>
                                <q-item-section avatar><q-avatar icon="event" /></q-item-section>
                                <q-item-section>
                                    <q-item-label>Einladungen vornehmen</q-item-label>
                                    <q-item-label caption>Übersicht Einladungen und Zusagen</q-item-label>
                                </q-item-section>
                            </q-item>

                            <q-item v-if="useHasPermission('fbuch_edit_termin')"
                                :href="'/termine/kalenderansicht.html/#/event-update/'+event.id" clickable v-ripple>
                                <q-item-section avatar><q-avatar icon="edit" /></q-item-section>
                                <q-item-section>Termin/Wiederholungen bearbeiten</q-item-section>
                            </q-item>
                            <template v-if="view=='recurrencies'">
                                <q-item
                                    v-if="event.hidden==0 && event.parent>0 && useHasPermission('fbuch_edit_termin')"
                                    @click="confirmHide" clickable v-ripple>
                                    <q-item-section avatar><q-avatar icon="visibility_off" /></q-item-section>
                                    <q-item-section>
                                        <q-item-label>Diese Wiederholung verbergen</q-item-label>
                                    </q-item-section>
                                </q-item>

                                <q-item
                                    v-if="event.hidden==1 && event.parent>0 && useHasPermission('fbuch_edit_termin')"
                                    @click="hideEvent" clickable v-ripple>
                                    <q-item-section avatar><q-avatar icon="visibility" /></q-item-section>
                                    <q-item-section>
                                        <q-item-label>Diese Wiederholung wieder anzeigen</q-item-label>
                                    </q-item-section>
                                </q-item>
                            </template>

                            <q-item v-if="modx.user_id==event.createdby || useHasPermission('fbuch_delete_termin')"
                                @click="confirmDelete" clickable v-ripple>
                                <q-item-section avatar><q-avatar text-color="red" icon="delete" /></q-item-section>
                                <q-item-section>Termin löschen</q-item-section>
                            </q-item>

                        </q-list>
                    </q-menu>
                </q-btn>
            </div>
        </div>
    </q-card-section>

    <q-separator></q-separator>

    <q-card-section>
        <pre style="white-space: pre-wrap; word-wrap: break-word;font-family: inherit;">{{ event.description }}</pre>
    </q-card-section>
    <q-separator></q-separator>

    <q-card-actions>
        <template v-if="event.counted_names==0">keine Anmeldung</template>
        <template v-if="event.counted_names==1">{{event.counted_names}} Anmeldung</template>
        <template v-if="event.counted_names>1">{{event.counted_names}} Anmeldungen</template>
        <q-space />

        <q-btn color="grey" round flat dense :icon="expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
            @click="expanded = !expanded" />
    </q-card-actions>

    <q-slide-transition>
        <div v-show="expanded">
            <q-separator />
            <q-card-section class="q-pa-none">
                <q-list separator>
                    <template v-for="name in event.names">
                        <q-item v-if="name.new_fahrt_id">
                            In Fahrten übernommen:
                        </q-item>                        
                        <q-item v-if="name.Fahrt_id < 1 && name.new_registeredby">
                            Anmeldungen von {{name.RegisteredbyMember_firstname}} {{name.RegisteredbyMember_name}}:
                        </q-item>
                        <q-item tag="label" v-ripple>
                            <q-item-section v-if="name.Fahrt_id < 1" side top class="q-pa-none">
                                <q-checkbox v-model="name.selected" />
                            </q-item-section>
                            <q-item-section side>
                                {{name.idx}}
                            </q-item-section>

                            <q-item-section>
                                <q-item-label>{{name.createdon_formatted}}</q-item-label>
                                <q-item-label v-if="name.guestname=='' && name.Member_member_status=='Mitglied' ">
                                    {{name.Member_firstname}} {{name.Member_name}}
                                </q-item-label>
                                <q-item-label v-if="name.guestname=='' && name.Member_member_status!=='Mitglied' ">
                                    {{name.Member_firstname}} {{name.Member_name}} ({{name.Member_member_status}})
                                </q-item-label>
                                <q-item-label v-if="name.guestname!==''">
                                    {{name.guestname}} (Gasteintrag)
                                </q-item-label>

                            </q-item-section>
                        </q-item>
                    </template>
                </q-list>


            </q-card-section>
        </div>
    </q-slide-transition>



</q-card>