<div class="q-mx-lg">
<component is="style">
    h2 {
        font-size:32px;
    }
    h3 {
        font-size:24px;
        line-height:24px;
    }
    h5 {
        font-size:20px;
    }

</component>

<h2 class="q-mt-sm q-mb-lg text-weight-bold" >Unsere Kompetenzstufen</h2>

[[*content]]

<q-markup-table class="full-width">
<template v-for="(level,index) in levels">
    <tr :style="'background-color:#'+level.color+';'" >
    <td colspan="3" class="text-weight-bold" 
    
    >
        {{level.name}}({{level.level}})
    </td>    
    </tr>
    <tr>
    <td class="vertical-top" rowspan="2" style="border-right:1px solid;">
        {{level.description}}
        <br>
        <q-btn 
        v-if="level.technical_requirements!='' || level.safety_requirements !='' || level.technical_goals != '' "
        outline icon-right="arrow_outward" label="Vorraussetzungen" @click="levels[index].dialog = true" />
    </td>  
    <td colspan="2" class="text-weight-bold text-center" style="border-bottom:1px solid;">Bootsklassifizierungen</td>
    </tr>
    <tr>
    <td v-for="permission in level.permissions" class="text-weight-bold text-center" :style="'background-color:#'+bootsnutzergruppen[permission.Bootsklassifizierung].color+';'" style="border-right:1px solid;">{{permission.Bootsklassifizierung}}</td>
    </tr>
    <tr>
        <td class="text-weight-bold" style="border-top:1px solid;border-right:1px solid;">Bootsnutzung als Obmann / -frau:</td>
        <td v-for="permission in level.permissions" class="text-center" style="border-top:1px solid;border-right:1px solid;">
            <q-icon v-if="permission.als_obmann.permission==0" name="block" size="sm" color="red" />
            <q-icon v-if="permission.als_obmann.permission==1" name="check" size="sm" color="green" />
        </td>
    </tr>
    <tr>
        <td class="text-weight-bold" style="border-top:1px solid;border-right:1px solid;">Mitrudern:</td>
        <td v-for="permission in level.permissions" class="text-center" style="border-top:1px solid;border-right:1px solid;">
        <template v-if="permission.mitrudern.permission==0 || permission.mitrudern.permission==1"> 
            <q-icon v-if="permission.mitrudern.permission==0" name="block" size="sm" color="red" />
            <q-icon v-if="permission.mitrudern.permission==1" name="check" size="sm" color="green" />
        </template>
        <template v-else>
            {{permission.mitrudern.permission}}    
        </template>        
        </td>
    </tr>    
</template>
</q-markup-table>

<template v-for="(level,index) in levels">

    <q-dialog v-model="levels[index].dialog">
        <q-card>
          <q-card-section>
            <div class="text-h6">{{level.name}}({{level.level}})</div>
          </q-card-section>
  
          <q-card-section class="q-pt-none">
            <template v-if="level.technical_requirements != ''">
                <h5 class="col-12 q-mt-sm q-mb-xs text-weight-bold" >Rudertechnische Kenntnisse</h5>
                <p v-html="nl2br(level.technical_requirements)"></p>
            </template>
            <template v-if="level.safety_requirements != ''">
                <h5 class="col-12 q-mt-sm q-mb-xs text-weight-bold" >Sicherheitstechnische Vorraussetzungen</h5>
                <p v-html="nl2br(level.safety_requirements)"></p>
            </template>
            <template v-if="level.technical_goals != ''">
                <h5 class="col-12 q-mt-sm q-mb-xs text-weight-bold" >Rudertechnische Ziele</h5>
                <p v-html="nl2br(level.technical_goals)"></p>
            </template>
          </q-card-section>
  
          <q-card-actions align="right">
            <q-btn flat label="OK" color="primary" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>    

</template>

<h2 class="q-mt-sm q-mb-lg text-weight-bold" >Die Bootsklassifizierungen</h2>

<template v-for="group in bootsnutzergruppen">
    <h3 class="q-mt-md q-mb-none text-weight-bold" >{{group.name}}</h3>
    <font :color="'#'+group.color">
        &#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;&#9632;          
    </font>    
    <template v-if="group.description != ''">
        <h5 class="q-mt-sm q-mb-xs text-weight-bold" >Berechtigungen</h5>
        <p v-html="nl2br(group.description)"></p>

    </template>

    <hr>

</template>
</div>