<template v-if="entry.Type_registrationpage_text==''">

    <q-tabs align="left" inline-label no-caps outside-arrows mobile-arrows>
        <q-route-tab
          icon="group_add"
          label="Anmeldung"
          :to="'/'+entry.id+'/anmeldung'"
          exact
        />
        <q-route-tab
          icon="chat_bubble_outline"
          label="Nachrichten"
          :to="'/'+entry.id+'/kommentare'"
          exact
        >        
        <q-badge color="red" floating>{{messageCount}}</q-badge>
        </q-route-tab>
        <q-route-tab
          icon="insert_invitation"
          label="Einladungen"
          :to="'/'+entry.id+'/einladungen'"
          exact
        />  
        
        <q-route-tab
          icon="insert_invitation"
          label="Einladungsliste"
          :to="'/'+entry.id+'/einladungsliste'"
          exact
        >
        </q-route-tab>                       

      </q-tabs>
     </template>