<q-card bordered flat class="full-width">
    <q-card-section class="bg-primary text-white">
        <div class="row items-center no-wrap">
            <div class="col">
                <span class="text-subtitle2">{{entry.Boot_name}}</span> {{entry.Gattung_shortname}}
                <div class="text-h6">{{entry.Type_name}}</div>
                <div class="text-subtitle2">
                    {{ entry.formattedDate }}
                    <template v-if="entry.formattedEndDate != ''">
                        <br>
                        {{ entry.formattedEndDate }}
                    </template>
                </div>
                <div v-if="entry.km > 0" class="text-subtitle2">
                    {{entry.km}} km
                </div>
                <div v-if="useHasPermission('fbuch_view_birthdate')" class="text-subtitle2">
                    <template v-if="entry.average_age > 0">
                        Altersschnitt: {{entry.average_age}}
                    </template>
                    <template v-if="entry.average_error">
                        Fehlende Altersangaben: {{entry.average_error.missingValues}}
                    </template>
                </div>
            </div>
            <div class="col-auto">
                <q-btn color="white" text-color="black" round icon="navigate_next">
                    <q-menu auto-close anchor="bottom right" self="top right" :offset="[0, 5]">
                        <q-list dense bordered separator>
                            <q-item v-if="entry.locked==0" :href="'/fahrtenbuch/fahrtenbuch.html/#/entry-update/'+entry.id" clickable v-ripple>
                                <q-item-section avatar><q-avatar icon="edit" /></q-item-section>
                                <q-item-section>
                                    <q-item-label>Eintrag bearbeiten</q-item-label>
                                    <q-item-label caption>Bearbeiten und Personen hinzufügen</q-item-label>
                                </q-item-section>
                            </q-item>
                            <q-item v-if="entry.locked==0 && section != 'finished'" @click="pullMembers" clickable v-ripple>
                                <q-item-section avatar><q-avatar icon="group_add" /></q-item-section>
                                <q-item-section>
                                    <q-item-label>Hier einfügen</q-item-label>
                                    <q-item-label caption>Markierte Personen hier einfügen</q-item-label>
                                </q-item-section>
                            </q-item>
                            <q-item target="_blank" :href="'/listen/bootsliste/boots-details/?boot_id='+entry.boot_id" clickable v-ripple>
                                <q-item-section avatar><q-avatar icon="settings" /></q-item-section>
                                <q-item-section>
                                    <q-item-label>Zur Bootsseite</q-item-label>
                                    <q-item-label caption>Schaden melden/Bootseinstellungen eintragen</q-item-label>
                                </q-item-section>
                            </q-item>                            
                            <q-item v-if="entry.locked==0 && section != 'finished'" @click="confirmDeleteEntry(entry)" clickable v-ripple>
                                <q-item-section avatar><q-avatar text-color="red" icon="delete" /></q-item-section>
                                <q-item-section>Eintrag löschen</q-item-section>
                            </q-item>
                            <q-item v-if="entry.locked==0" @click="lockEntry(entry)"  clickable v-ripple>
                                <q-item-section avatar><q-avatar icon="lock" /></q-item-section>
                                <q-item-section>Für Bearbeitung sperren</q-item-section>
                            </q-item> 
                            <q-item v-if="entry.locked==1" @click="lockEntry(entry)"  clickable v-ripple>
                                <q-item-section avatar><q-avatar icon="lock-open" /></q-item-section>
                                <q-item-section>Für Bearbeitung freigeben</q-item-section>
                            </q-item>                                                       

                        </q-list>
                    </q-menu>
                </q-btn>
            </div>
        </div>
    </q-card-section>
    <q-card-section class="q-pa-sm" :style="'background-color:#' + entry.Nutzergruppe_color">
                                
    </q-card-section>       

    <template v-if="entry.destination != ''">
        <q-separator></q-separator>
        <q-card-section>
            {{ entry.destination }}
        </q-card-section>
    </template>

    <template v-if="entry.note != ''">
        <q-separator></q-separator>
        <q-card-section>
            <pre style="white-space: pre-wrap; word-wrap: break-word;font-family: inherit;">{{ entry.note }}</pre>
        </q-card-section>
    </template>

    <q-separator></q-separator>
    <q-card-section class="q-pa-none">
        <q-list separator>
            <template v-for="name in entry.names">
                <q-item tag="label" class="q-px-sm" v-ripple>
                    <q-item-section v-if="entry.locked==0 && section != 'finished'" side top class="q-pa-none">
                        <q-checkbox @update:model-value="onNameCheckbox(name)"  v-model="name.selected" />
                    </q-item-section>
                    <q-item-section side>
                        {{name.idx}}
                    </q-item-section>
                    <q-item-section>
                        <q-item-label v-if="name.guestname=='' && name.Member_member_status=='Mitglied' ">
                            {{name.Member_firstname}} {{name.Member_name}}
                            <template v-if="useHasPermission('fbuch_view_birthdate')"><br>({{name.age}})</template>
                        </q-item-label>
                        <q-item-label v-if="name.guestname=='' && name.Member_member_status!=='Mitglied' ">
                            {{name.Member_firstname}} {{name.Member_name}} <br>
                            ({{name.Member_member_status}}) <template v-if="useHasPermission('fbuch_view_birthdate')">
                                ({{name.age}})</template>
                        </q-item-label>
                        <q-item-label v-if="name.guestname!==''">
                            {{name.guestname}}<br> (Gasteintrag)
                        </q-item-label>
                    </q-item-section>
                    <q-item-section v-if="name.cox==1" side class="q-pa-none" style="padding-left:0;">
                        <q-avatar>
                            <img src="[[++fbuch.assets_url:default=`assets/components/fbuch/`]]img/noun_78924_cc.svg"
                                style="width: 18px;" />
                        </q-avatar>
                    </q-item-section>
                    <q-item-section v-if="name.obmann==1" side class="q-pa-none" style="padding-left:0;">
                        <q-avatar>
                            <img src="[[++fbuch.assets_url:default=`assets/components/fbuch/`]]img/king-svgrepo-com.svg"
                                style="width: 18px;" />
                        </q-avatar>
                    </q-item-section>
                    <q-item-section v-if="entry.locked==0 && section != 'finished'" side top class="q-pa-none" style="padding-left:0;">
                        <q-btn color="primary" text-color="white" round icon="navigate_next">
                            <q-menu auto-close anchor="bottom right" self="top right" :offset="[0, 5]">
                                <q-list dense bordered separator>
                                    <q-item @click="setObmann(name)" clickable v-ripple>
                                        <q-item-section avatar>
                                            <q-avatar>
                                                <img src="[[++fbuch.assets_url:default=`assets/components/fbuch/`]]img/king-svgrepo-com.svg"
                                                    style="width: 18px;" />
                                            </q-avatar>
                                        </q-item-section>
                                        <q-item-section>Obmann/-frau</q-item-section>
                                    </q-item>
                                    <q-item @click="setCox(name)" clickable v-ripple>
                                        <q-item-section avatar>
                                            <q-avatar>
                                                <img src="[[++fbuch.assets_url:default=`assets/components/fbuch/`]]img/noun_78924_cc.svg"
                                                    style="width: 18px;" />
                                            </q-avatar>
                                        </q-item-section>
                                        <q-item-section>Steuermann/-frau</q-item-section>
                                    </q-item>
                                    <q-item @click="confirmRemoveName(name)" clickable v-ripple>
                                        <q-item-section avatar><q-avatar text-color="red"
                                                icon="person_remove" /></q-item-section>
                                        <q-item-section>Person entfernen</q-item-section>
                                    </q-item>
                                </q-list>
                            </q-menu>
                        </q-btn>
                    </q-item-section>
                </q-item>
            </template>
        </q-list>



</q-card>