[[fbuch_is_element_used? &type=`chunks` &name=`fbuch_Login`]]<div class="q-pa-md full-width" style="height: 400px;">
    <div class="text-h4 text-center"> [[*menutitle]] </div>


    [[-$fbuchMyInvites]]

    [[$$fbuchMitgliederMessageQuasar]]
    
    <valuesetter @hasmounted="state.tab='[[!#post.tab:default=`mail_login`]]'" />
    <div class="col-12">
        <q-tabs v-model="state.tab" align="left" no-caps outside-arrows mobile-arrows class="">
            <q-tab name="mail_login" label="Mail Login" />
            <q-tab name="pasword_login" label="Passwort Login" />
            <q-tab name="contact" label="Kontakt" />
        </q-tabs>
    </div>
    <q-tab-panels keep-alive v-model="state.tab">
        <q-tab-panel name="mail_login">
            <div class="q-mb-xl row">
                [[!FormIt? 
                &hooks=`fbuch_getotp_hook` 
                &validate=`email:email:required` 
                &submitVar=`mail_login`
                ]]                
                [[!Personalize?
                    &noChunk=`@CODE:                    
                    <div class="col-12 q-mb-xl">
                    Falls Du als Mitglied bei uns registriert bist, kannst Du Dich mit Deiner Email Adresse hier einloggen.<br>
                    Du bekommst dann per Mail einen zeitlich begrenzt gültigen Login Link.                        
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12 row">

                        <q-form class="col-12 q-col-gutter-md row" action="[[~[[*id]]]]" method="post">
                            <input name="nospam:blank" type="hidden" value="" />
                            <input name="tab" type="hidden" value="mail_login" />
                            <input name="mail_login" type="hidden" value="1" />
                            <input name="target" type="hidden" value="[[!#request.target:default=`fahrtenbuch/fahrtenbuch.html`]]" />
                            <input name="route" type="hidden" value="[[!#request.route]]" />                            
    
                            <valuesetter @hasmounted="state.email='[[!+fi.email]]'" />
                            [[!+my.successMessage:is=``:then=`
                            <q-input class="col-12" v-model="state.email" name="email" outlined label="Email"
                                :hide-bottom-space="true" [[!+fi.error.email:!empty=`error
                                error-message="[[!+fi.error.email:striptags]]" `]]>
                            </q-input>
  
                            <div class="col-12 row">
                                <q-btn class="col-12" color="primary" type="submit" label="Login Link holen" ></q-btn>
                            </div>                             
                            `:else=`
                            <div class="col-12 row">
                            <q-card class="col-12">
                                <q-card-section class="bg-info text-white">
                                    [[!+my.successMessage]]
                                </q-card-section>
                                
                            </q-card>
                            
                            </div>
                            <div class="col-12 row">
                            <q-btn class="col-12" color="primary" href="[[~[[*id]]]]" label="Ok" ></q-btn>                                                                                            
                            </div>
                            `]]
    
                        </q-form>
                    </div>                    
                    `
                    &yesChunk=`@CODE:
                    <div class="col-12 q-mb-xl">
                    Du bist angemeldet als <strong>[[!+modx.user.username]]</strong><br>    
                    </div>
                    
                    <div class="col-md-4 col-sm-6 col-xs-12 row">
                        <div class="col-12 q-col-gutter-md row" >
                            <div class="col-12 row">
                                <q-btn class="col-12" color="primary" href="login/?service=logout" title="[[+actionMsg]]" label="[[+actionMsg]]" ></q-btn>
                            </div>
                        </div>     
                    </div>                    
                    `
                ]]                
                
            </div>

        </q-tab-panel>        
        <q-tab-panel name="pasword_login">
            <div class="q-mb-xl row">
                <div class="col-12">
                    [[!Personalize?
                    &noChunk=`@CODE:                    
                    Falls Du einen Benutzernamen und ein Passwort hast, kannst Du Dich nachfolgend einloggen.
                    `
                    &yesChunk=`@CODE:
                    Du bist angemeldet als <strong>[[!+modx.user.username]]</strong><br>
                    Dein Passwort kannst Du bei Bedarf <a href="login/passwort-aendern.html">hier</a> ändern.                
                    `
                ]]   

                </div>

            </div>

            <div class="q-mb-sm row">
                <div class="col-md-4 col-sm-6 col-xs-12 row">
                    [[!Login?
                    &loginTpl=`fbuchLoginTpl`
                    &logoutTpl=`fbuchLogoutTpl`
                    &loginResourceId=`[[fbuchGetResourceIdByUri? &uri=`login/login-und-redirect.html`]]`
                    &loginResourceParams=`{"target":"[[!#request.target:default=`fahrtenbuch/fahrtenbuch.html`]]","route":"[[!#request.route]]"}`  
                    ]]

                </div>
            </div>
        </q-tab-panel>
        <q-tab-panel name="contact">
            [[!FormIt? &hooks=`spam,email,redirect`
            &emailTpl=`[[fbuchGetChunk? &name=`fbuchEmailTplKontakt`]]`
            &emailTo=`[[$$fbuch_contact_email]]`
            &emailFrom=`[[++emailsender]]`
            &emailUseFieldForSubject=`1`
            &submitVar=`contact`
            &placeholderPrefix=`contact.`
            &redirectTo=`[[fbuchGetResourceIdByUri? &uri=`danke-fuer-deine-anfrage.html`]]`
            &validate=`name:required, email:email:required, subject:required, text:required` ]]
            [[!+contact.error_message:notempty=`<p>[[!+contact.error_message]]</p>`]]
            <p>Für Fragen zum Fahrtenbuch oder zum Training könnt ihr nachfolgendes Formular verwenden.</p>
            <div class="q-mb-sm row">
                <div class="col-md-4 col-sm-6 col-xs-12 row">

                    <q-form class="col-12 q-col-gutter-md row" action="[[~[[*id]]]]" method="post">
                        <input name="nospam:blank" type="hidden" value="" />
                        <input name="tab" type="hidden" value="contact" />
                        <input name="contact" type="hidden" value="1" />

                        <valuesetter @hasmounted="state.name='[[!+contact.name]]'" />
                        <q-input class="col-12" v-model="state.name" name="name" outlined label="Vor- und Nachname"
                            :hide-bottom-space="true" [[!+contact.error.name:!empty=`error
                            error-message="[[!+contact.error.name:striptags]]" `]]>
                        </q-input>


                        <valuesetter @hasmounted="state.email='[[!+contact.email]]'" />
                        <q-input class="col-12" v-model="state.email" name="email" outlined label="Email"
                            :hide-bottom-space="true" [[!+contact.error.email:!empty=`error
                            error-message="[[!+contact.error.email:striptags]]" `]]>
                        </q-input>


                        <valuesetter @hasmounted="state.subject='[[!+contact.subject]]'" />
                        <q-select class="col-12" name="subject" 
                            v-model="state.subject"
                            :options="[[$$fbuch_contact_subject_options_json]]" color="primary" outlined clearable
                            label="Betreff" [[!+contact.error.subject:!empty=`error
                            error-message="[[!+contact.error.subject:striptags]]" `]]></q-select>

                        <valuesetter @hasmounted="state.text=`[[!+contact.text]]`" />
                        <q-input type="textarea" class="col-12" v-model="state.text" name="text" outlined
                            label="Nachricht" :hide-bottom-space="true" [[!+contact.error.text:!empty=`error
                            error-message="[[!+contact.error.text:striptags]]" `]]>
                        </q-input>
                        <div class="col-12 row">
                            <q-btn class="col-12" color="primary" type="submit" label="Anfrage senden" ></q-btn>
                        </div>                        

                    </q-form>
                </div>

            </div>


        </q-tab-panel>
    </q-tab-panels>

</div>
