<div id="q-app" style="min-height: 100vh;">
    <div class="q-pa-md q-gutter-sm">
      <q-btn label="< Zurück" @click="onPrev"></q-btn>
      <q-btn label="Heute" @click="onToday"></q-btn>
      <q-btn label="Weiter >" @click="onNext"></q-btn>
    </div>
  
    <div class="q-pa-md full-width" style="height: 400px;">
    <div class="text-h4 text-center"> {{ formattedMonth }}  {{ selectedYear }} </div>
      <q-calendar-month 
  ref="calendar" 
  v-model="selectedDate" 
  :day-min-height="70" 
  focusable hoverable bordered 
  @change="onChange" 
  @moved="onMoved" 
  @click-date="onClickDate" 
  @click-day="onClickDay" 
  @click-head-day="onClickHeadDay" 
  locale="de"
  :weekdays="[1,2,3,4,5,6,0]"
  >
  
            <template #week="{ scope: { week, weekdays } }">
              <template
                v-for="(computedEvent, index) in getWeekEvents(week, weekdays)"
                :key="index"
              >
                <div
                  :class="badgeClasses(computedEvent)"
                  :style="badgeStyles(computedEvent, week.length)"
                >
                  <div
                    v-if="computedEvent.event && computedEvent.event.title"
                    class="title q-calendar__ellipsis"
                  >
                    {{ computedEvent.event.title + (computedEvent.event.time ? ' - ' + computedEvent.event.time : '') }}
                    <q-tooltip>{{ computedEvent.event.description }}</q-tooltip>
                  </div>
                </div>
              </template>
            </template>
  
  
      </q-calendar-month>
    </div>
  </div>