[[fbuch_is_element_used? &type=`chunks` &name=`fbuchLoginTpl`]]

        <q-form class="col-12 q-col-gutter-md row" action="[[~[[*id]]]]" method="post">
            <input name="tab" type="hidden" value="pasword_login" />
            <input name="target" type="hidden" value="[[!#request.target:default=`fahrtenbuch/fahrtenbuch.html`]]" />
            <input name="route" type="hidden" value="[[!#request.route]]" />
            
            <q-input class="col-12" v-model="state.username" name="username" outlined label="[[%login.username]]"
            :hide-bottom-space="true"
            >
            </q-input> 
            <valuesetter @hasmounted="state.isPwd=true" />
            <q-input class="col-12" v-model="state.password" :type="state.isPwd ? 'password' : 'text'" name="password" outlined label="[[%login.password]]"
            :hide-bottom-space="true"
            >
            <template v-slot:append>
                <q-icon
                  :name="state.isPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="state.isPwd = !state.isPwd"
                />
              </template>            
            </q-input>    
            
            <input class="loginLoginValue" type="hidden" name="service" value="login" />
            <input class="returnUrl" type="hidden" name="returnUrl" value="[[+request_uri]]" />
            <div class="col-12 row">
                <q-btn class="col-12" color="primary" type="submit" name="Login" label="[[+actionMsg]]" ></q-btn>
            </div>
        </q-form>
