[[!setlocale]]
<!DOCTYPE html>
<html lang="[[++cultureKey]]" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>[[++site_name]] - [[+pagetitle]]</title>
    <base href="[[!++site_url]]" />    
    
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link href="assets/components/fbuch/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/components/fbuch/css/bootstrap-datepicker.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/components/fbuch/css/main.css" rel="stylesheet">
    <link href="assets/components/fbuch/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="app">
    <a name="oben" id="oben"></a>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div id="mainNavi" class="navbar navbar-default navbar-webcms navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a id="homelink" href="[[!++site_url]]"><img src="[[$$fbuch_site_logo]]" style="margin-right: 10px; margin-top: 6px; margin-left: 6px; height: 60px;"> </a>
          </div>
          <div class="collapse navbar-collapse">
         [[!pdoMenu? 
            &startId=`0` 
            &level=`2`
            &outerClass=`nav navbar-nav`
            &checkPermissions=`list`
            &parentClass=`dropdown`
            &innerClass=`dropdown-menu`
            &tplParentRow=`@INLINE <li[[+classes]]><a href="[[+link]]" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" [[+attributes]]>[[+menutitle]]</a>[[+wrapper]]</li>`
        ]]         

          </div><!--/.nav-collapse -->
        </div>
      </div>
      <!-- Begin page content -->
      <div class="container">

        <div class="page-header">
          <h1>[[*longtitle:isnot=``:then=`[[*longtitle]]`:else=`[[*pagetitle]]`]]</h1>
        </div>
        
        [[*content]]

        
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <div id="footerNavi">
        [[Wayfinder? &startId=`2` &level=`1`]]
        </div>
      
        <div id="goUp"><a href="[[~[[*id]]]]#oben">nach oben</a></div>
        <div id="copyright"><small>&copy; Bruno Perner</small></div>      
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/components/fbuch/js/jquery-1.10.2.min.js"></script>
    <script src="assets/components/fbuch/js/bootstrap.min.js" ></script>
    <script src="assets/components/fbuch/js/bootstrap-datepicker.min.js"></script>
    <script src="assets/components/fbuch/js/bootstrap-datepicker.de.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js"></script>
    <script src="assets/components/fbuch/js/typeahead.js"></script>  
    <script>
    var selfurl='[[~[[*id]]]]';
    </script>
  
    [[*scripts]]
    <script src="assets/components/fbuch/js/cssobj.min.js"></script>
    <script src="assets/components/fbuch/js/fbuch.js"></script>


  </body>
</html>
