<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>[[++site_name]] - [[+pagetitle]]</title>
    <base href="[[!++site_url]]" />    
    
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">
    
<!-- Load required Bootstrap and BootstrapVue CSS -->
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />    
<link href="assets/components/fbuch/css/fbuchvue.css" rel="stylesheet">    
    
  <!-- Do you need Material Icons? -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">

  <!-- Do you need Fontawesome? -->
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">

  <!-- Do you need Ionicons? -->
  <link href="https://cdn.jsdelivr.net/npm/ionicons@^4.0.0/dist/css/ionicons.min.css" rel="stylesheet">

  <!-- Do you need MDI? -->
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@^3.0.0/css/materialdesignicons.min.css" rel="stylesheet">

  <!-- Do you need all animations? -->
  <link href="https://cdn.jsdelivr.net/npm/animate.css@^3.5.2/animate.min.css" rel="stylesheet">


  <!--
    Finally, add Quasar's CSS:
    Replace version below (1.0.3) with your desired version of Quasar.
    Add ".rtl" for the RTL support (example: quasar.rtl.min.css).
  -->
  <link href="https://cdn.jsdelivr.net/npm/quasar@^1.9.16/dist/quasar.min.css" rel="stylesheet" type="text/css">
  



  
  
</head>

<body>
    
<div id="q-app">  


  <q-layout view="hHh lpR fFf">

    <q-header class="bg-white text-black">
    <div class="container">    
      <b-navbar toggleable="lg" >
          <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
          <b-navbar-brand href="[[!++site_url]]"><img src="[[$$fbuch_site_logo]]" style="margin-right: 10px; margin-top: 6px; margin-left: 6px; height: 60px;"></b-navbar-brand>
          <b-collapse id="nav-collapse" is-nav>
         [[!pdoMenu? 
            &startId=`0` 
            &level=`2`
            &outerClass=`nav navbar-nav`
            &checkPermissions=`list`
            &tpl=`@INLINE <b-nav-item href="[[+link]]">[[+menutitle]]</b-nav-item>`
            &tplParentRow=`@INLINE <b-nav-item-dropdown text="[[+menutitle]]" [[+classes]]>[[+wrapper]]</b-nav-item-dropdown>`
            &tplInner=`@INLINE [[+wrapper]]`
            &tplInnerRow=`@INLINE <b-dropdown-item href="[[+link]]" [[+classes]]>[[+menutitle]]</b-dropdown-item>`
         ]]         

          </b-collapse>
      </b-navbar> 
      </div>
    </q-header>

<div class="container">
    <q-page-container>
        <div class="page-header">
          <h2>[[*longtitle:isnot=``:then=`[[*longtitle]]`:else=`[[*pagetitle]]`]]</h2>
        </div>         

        [[*content]]   
      


        
    </q-page-container>

  </q-layout>    
</div>
</div>  

<!-- Load Vue followed by BootstrapVue -->

  <!-- Do you want IE support? Replace "1.0.3" with your desired Quasar version -->
  <script src="https://cdn.jsdelivr.net/npm/quasar@^1.9.16/dist/quasar.ie.polyfills.umd.min.js"></script>

  <!-- You need Vue too -->
  <script src="https://cdn.jsdelivr.net/npm/vue@latest/dist/vue.min.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

  <!--
    Add Quasar's JS:
    Replace version below (1.0.3) with your desired version of Quasar.
  -->
  <script src="https://cdn.jsdelivr.net/npm/quasar@^1.9.16/dist/quasar.umd.min.js"></script>

  <!--
    If you want to add a Quasar Language pack (other than "en-us").
    Notice "pt-br" in "i18n.pt-br.umd.min.js" for Brazilian Portuguese language pack.
    Replace version below (1.0.0-beta.0) with your desired version of Quasar.
    Also check final <script> tag below to enable the language
    Language pack list: https://github.com/quasarframework/quasar/tree/dev/ui/lang
  -->
  <script src="https://cdn.jsdelivr.net/npm/quasar@^1.9.16/dist/lang/de.umd.min.js"></script>

  <!--
    If you want to make Quasar components (not your own) use a specific set of icons (unless you're using Material Icons already).
    Replace version below (1.0.3) with your desired version of Quasar.
    Icon sets list: https://github.com/quasarframework/quasar/tree/dev/ui/icon-set
  -->
  <script src="https://cdn.jsdelivr.net/npm/quasar@^1.9.16/dist/icon-set/fontawesome-v5.umd.min.js"></script>
  
  <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script> 
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
  
    Vue.use(BootstrapVue);  
  
  
    // if using a Quasar language pack other than the default "en-us";
    // requires the language pack style tag from above
    Quasar.lang.set(Quasar.lang.de) // notice camel-case "ptBr"

    // if you want Quasar components to use a specific icon library
    // other than the default Material Icons;
    // requires the icon set style tag from above
    Quasar.iconSet.set(Quasar.iconSet.fontawesomeV5) // fontawesomeV5 is just an example

    /*
      Example kicking off the UI.
      Obviously, adapt this to your specific needs.
     */
  </script>
  
[[*scripts]]


</body>
</html>