<!DOCTYPE html>
<html lang="de">
  <!--
    WARNING! Make sure that you match all Quasar related
    tags to the same version! (Below it's "@2.7.1")
  -->

  <head>
    <meta charset="UTF-8">
    <meta name=viewport content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">
    <title>[[++site_name]] - [[*pagetitle]]</title>
    <base href="[[!++site_url]]" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@2.7.1/dist/quasar.prod.css" rel="stylesheet" type="text/css">
    [[*headscripts]]
  </head>

  <body>
    <!-- example of injection point where you write your app template -->
    <div id="q-app">
      <q-layout view="hHh LpR fFf">

        <q-header elevated class="bg-white text-grey-8">
          <q-toolbar>
            <q-btn dense flat round icon="menu" @click="toggleLeftDrawer" ></q-btn>
    
            <q-toolbar-title>
              <a href="[[!++site_url]]">
                <img src="[[$$fbuch_site_logo]]" style="margin-right: 10px; margin-top: 4px; margin-bottom:-3px; margin-left: 6px; height: 60px;">
              </a>
              [[*longtitle:isnot=``:then=`[[*longtitle]]`:else=`[[*pagetitle]]`]]
            </q-toolbar-title>
          </q-toolbar>
        </q-header>
    
        <q-drawer show-if-above v-model="leftDrawerOpen" side="left" bordered>
          <!-- drawer content -->
          <fbuchnav></fbuchnav>
        </q-drawer>
    
        <q-page-container>
          <router-view :key="$route.fullPath"></router-view>
        </q-page-container>
    
      </q-layout>
    </div>

    <!-- Add the following at the end of your body tag -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.7.4/dist/quasar.umd.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.7.4/dist/lang/de.umd.prod.js"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        const fbuch_options = {
          assets_url:'[[++assets_url]]',
          resource_id:'[[*id]]',
          user_id:'[[+modx.user.id]]'
        };
    
    </script>  
    
    [[*scripts]]

    <script type="module">
      /*
        Example kicking off the UI. Obviously, adapt this to your specific needs.
        Assumes you have a <div id="q-app"></div> in your <body> above
       */

      import fbuchnav from '[[++fbuch.assets_url:default=`assets/components/fbuch/`]]quasar/components/resourcetree.js';
      
      [[*content]]

  const router = VueRouter.createRouter({
    history: VueRouter.createWebHashHistory('/termine/kalenderansicht.html/'),
    routes: routes
})

      Vue.$router = router;
  
      const { ref, computed } = Vue;
  
      const app = Vue.createApp({
        components : {
            fbuchnav
        }, 
  
        setup () {
       
          const leftDrawerOpen = ref(false)
  
          return {
            leftDrawerOpen,
            toggleLeftDrawer () {
              leftDrawerOpen.value = !leftDrawerOpen.value
            }
          }
        }
      })
      app.use(router)
      app.use(Quasar, {
        config: {
          /*
          brand: {
            // primary: '#e46262',
            // ... or all other brand colors
          },
          notify: {...}, // default set of options for Notify Quasar plugin
          loading: {...}, // default set of options for Loading Quasar plugin
          loadingBar: { ... }, // settings for LoadingBar Quasar plugin
          // ..and many more (check Installation card on each Quasar component/directive/plugin)
          */
        }
      })
      Quasar.lang.set(Quasar.lang.de)
      //app.component("QCalendarMonth", QCalendarMonth.QCalendarMonth);
      app.mount('#q-app')
    </script>


  </body>
</html>