<!DOCTYPE html>
<html lang="de">
  <!--
    WARNING! Make sure that you match all Quasar related
    tags to the same version! (Below it's "@2.7.1")
  -->

  <head>
    <meta charset="UTF-8">
    <meta name=viewport content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">
    <title>[[++site_name]] - [[*pagetitle]]</title>
    <base href="[[!++site_url]]" />

    [[!fbuchStoreAndReadAssets? 
    &url=`https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNZ.ttf`
    &filename=`material_icons.ttf`
    &ph=`material_icons`
    ]] 
    [[!fbuchStoreAndReadAssets? 
    &url=`https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1MmgWxP.ttf`
    &filename=`roboto100.ttf`
    &ph=`roboto100`
    ]]   
    [[!fbuchStoreAndReadAssets? 
    &url=`https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5vAw.ttf`
    &filename=`roboto300.ttf`
    &ph=`roboto300`
    ]] 
    [[!fbuchStoreAndReadAssets? 
    &url=`https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf`
    &filename=`roboto400.ttf`
    &ph=`roboto400`
    ]] 
    [[!fbuchStoreAndReadAssets? 
    &url=`https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9vAw.ttf`
    &filename=`roboto500.ttf`
    &ph=`roboto500`
    ]] 
    [[!fbuchStoreAndReadAssets? 
    &url=`https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlvAw.ttf`
    &filename=`roboto700.ttf`
    &ph=`roboto700`
    ]] 
    [[!fbuchStoreAndReadAssets? 
    &url=`https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtvAw.ttf`
    &filename=`roboto900.ttf`
    &ph=`roboto900`
    ]]  
                                   
    <style type="text/css">
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url([[!+material_icons]]) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url([[!+roboto100]]) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url([[!+roboto300]]) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url([[!+roboto400]]) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url([[!+roboto500]]) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url([[!+roboto700]]) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url([[!+roboto900]]) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}
    </style>
    [[-!fbuchStoreAndReadAssets? 
    &url=`https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons`
    &filename=`material_icons.css`
    &ph=`mic`
    ]]
    <link href="[[-!+mic]]" rel="stylesheet" type="text/css">
    [[!fbuchStoreAndReadAssets? 
    &url=`https://cdn.jsdelivr.net/npm/quasar@2.12.0/dist/quasar.prod.css `
    &filename=`quasar.prod.2.12.0.css`
    &ph=`qpc`
    ]]
    <link href="[[!+qpc]]" rel="stylesheet" type="text/css">
    [[*headscripts]]
  </head>

  
  <body>
    <!-- example of injection point where you write your app template -->
    <div id="q-app">
      <q-layout view="hHh LpR fFf">

        <q-header elevated class="bg-white text-grey-8">
          <q-toolbar>
            <q-btn dense flat round icon="menu" @click="toggleLeftDrawer" ></q-btn>
    
            <q-toolbar-title>
              <a href="[[!++site_url]]">
                <img src="[[$$fbuch_site_logo]]" style="margin-right: 10px; margin-top: 4px; margin-bottom:-3px; margin-left: 6px; height: 60px;">
              </a>
              [[*longtitle:isnot=``:then=`[[*longtitle]]`:else=`[[*pagetitle]]`]]
            </q-toolbar-title>
          </q-toolbar>
        </q-header>
    
        <q-drawer show-if-above v-model="leftDrawerOpen" side="left" bordered>
          <!-- drawer content -->
          <fbuchnav></fbuchnav>
        </q-drawer>
    
        <q-page-container>
            
          <router-view :key="$route.fullPath"></router-view>
        </q-page-container>
    
      </q-layout>
    </div>
    [[fbuchGetAssetsFiles? 
    &folder=`quasar/components`
    &wrapper=`<script type="x-template" id="[[+filename]]">[[+output]]</script>`
    ]]  
    [[fbuchGetAssetsFiles? 
    &folder=`quasar/components/[[*alias]]`
    &wrapper=`<script type="x-template" id="[[+filename]]">[[+output]]</script>`
    ]]    
    [[fbuchGetAssetsFiles? 
    &folder=`quasar/views/[[*alias]]`
    &wrapper=`<script type="x-template" id="[[+filename]]">[[+output]]</script>`
    ]]

    <!-- Add the following at the end of your body tag -->
    [[!fbuchStoreAndReadAssets? 
    &url=`https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js`
    &filename=`vue.global.prod.js`
    &ph=`vue.global.prod.js`
    ]]
    <script src="[[!+vue.global.prod.js]]"></script>
    [[!fbuchStoreAndReadAssets? 
    &url=`https://cdn.jsdelivr.net/npm/quasar@2.12.0/dist/quasar.umd.prod.js`
    &filename=`quasar.umd.prod.2.12.0.js`
    &ph=`quasar.umd.prod.js`
    ]]
    <script src="[[!+quasar.umd.prod.js]]"></script>
    [[!fbuchStoreAndReadAssets? 
    &url=`https://cdn.jsdelivr.net/npm/quasar@2.12.0/dist/lang/de.umd.prod.js`
    &filename=`de.umd.prod.2.12.0.js`
    &ph=`de.umd.prod.js`
    ]]
    <script src="[[!+de.umd.prod.js]]"></script>
    [[!fbuchStoreAndReadAssets? 
    &url=`https://unpkg.com/vue-router@4`
    &filename=`vue-router4.js`
    &ph=`vue-router4.js`
    ]]
    <script src="[[!+vue-router4.js]]"></script>
    [[!fbuchStoreAndReadAssets? 
    &url=`https://unpkg.com/axios/dist/axios.min.js`
    &filename=`axios.min.js`
    &ph=`axios.min.js`
    ]]
    <script src="[[!+axios.min.js]]"></script>
    [[!fbuchStoreAndReadAssets? 
    &url=`https://unpkg.com/vue-demi`
    &filename=`vue-demi.js`
    &ph=`vue-demi.js`
    ]]
    <script src="[[!+vue-demi.js]]"></script>
    [[!fbuchStoreAndReadAssets? 
    &url=`https://unpkg.com/pinia`
    &filename=`pinia.js`
    &ph=`pinia.js`
    ]]
    <script src="[[!+pinia.js]]"></script>

    <script>
        const modx_options = {
          assets_url:'[[++assets_url]]',
          resource_id:'[[*id]]',
          user_id:'[[!+modx.user.id]]',
          rest_url:'[[++fbuch.assets_url:default=`/assets/components/fbuch/`]]rest/'
        };
    
    </script>  
    
    [[*scripts]]
    
    <script>
        const base_route = '/[[*uri]]/';
    </script>    
    

    <script type="module">
      /*
        Example kicking off the UI. Obviously, adapt this to your specific needs.
        Assumes you have a <div id="q-app"></div> in your <body> above
       */

      import fbuchnav from '[[++fbuch.assets_url:default=`/assets/components/fbuch/`]]quasar/components/resourcetree.js';
      import routes from '[[++fbuch.assets_url:default=`/assets/components/fbuch/`]]quasar/views/[[*alias]]/routes.js';

  const pinia = Pinia.createPinia();
  const router = VueRouter.createRouter({
    history: VueRouter.createWebHashHistory(base_route),
    routes: typeof(routes) == "undefined" ? [] : routes
})

      Vue.$router = router;
  
      const { ref, computed } = Vue;
  
      const app = Vue.createApp({
        components : {
            fbuchnav
        }, 
  
        setup () {
       
          const leftDrawerOpen = ref(false)
  
          return {
            leftDrawerOpen,
            toggleLeftDrawer () {
              leftDrawerOpen.value = !leftDrawerOpen.value
            }
          }
        }
      })
      app.use(pinia)
      app.use(router)
      app.use(Quasar, {
        config: {
          /*
          brand: {
            // primary: '#e46262',
            // ... or all other brand colors
          },
          notify: {...}, // default set of options for Notify Quasar plugin
          loading: {...}, // default set of options for Loading Quasar plugin
          loadingBar: { ... }, // settings for LoadingBar Quasar plugin
          // ..and many more (check Installation card on each Quasar component/directive/plugin)
          */
        }
      })
      Quasar.lang.set(Quasar.lang.de)
      //app.component("QCalendarMonth", QCalendarMonth.QCalendarMonth);
      app.mount('#q-app')
    </script>


  </body>
</html>